#set($pageIndex = 0)
#set($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageIndex')))

#set($query = '')
#set($query = $core_v2_page.GetQueryStringValue('w_query'))

#set($queryType = $core_v2_widget.GetStringValue('queryType',''))
#if($queryType=='currentUser')
	#set($groups = $core_v2_group.List("%{GroupNameFilter=$query,UserId=$core_v2_user.Current.Id,PageSize=10,PageIndex=$pageIndex,SortBy='Name',SortOrder='Ascending'}"))
#else
	#set($groups = $core_v2_group.List("%{GroupNameFilter=$query,UserId=$core_v2_user.Accessing.Id,PageSize=10,PageIndex=$pageIndex,SortBy='Name',SortOrder='Ascending'}"))
#end

#set ($hasMore = false)
#set ($currentPagedQuantity = ($groups.PageIndex + 1) * $groups.PageSize)
#if ($groups.TotalCount > $currentPagedQuantity)
    #set ($hasMore = true)
#end

#foreach ($group in $groups)
#each
	#set($content = false)
	#set($content = $core_v2_content.Get($group.ContentId, $core_v2_group.ContentTypeId))
	#if ($content)
		<li class="content-item" data-contenturl="$core_v2_encoding.HtmlAttributeEncode($content.Url)" #if($hasMore) data-hasmore="true" #end>
			$content.ViewHtml('Web')
		</li>
	#end
#nodata
	<div class="message norecords">
		$core_v2_language.GetResource('no_search_matches_found')
	</div>
#end

