#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')
	
	#set($pageName = false)
	#set($pageName = $core_v2_page.GetFormValue('pagename'))
	
	#set($isCustom = false)
	#set($isCustom = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('iscustom')))
	
	#set($result = false)
    #set($result = $context.RevertAllPagesToDefault($pageName, $isCustom))
    #if ($result.Errors.Count > 0)
        $core_v2_page.SendJsonError($result.Errors)
    #else
    	{"success":true}
    #end
#end