$shell.RenderShellTemplates()

#set ($browseHeaderTemplate = $core_v2_widget.UniqueId('browseHeaderTemplate'))
#registerClientTemplate($browseHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-browse-header.vm')
#end

#set ($browseViewItemTemplate = $core_v2_widget.UniqueId('browseViewItemTemplate'))
#registerClientTemplate($browseViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-browse-view-item.vm')
#end

#set ($importSelectorTemplate = $core_v2_widget.UniqueId('importSelectorTemplate'))
#registerClientTemplate($importSelectorTemplate)
	$core_v2_widget.ExecuteFile('template-import-selector.vm')
#end

#set ($tabViewItemTemplate = $core_v2_widget.UniqueId('tabViewItemTemplate'))
#registerClientTemplate($tabViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-tab-view-item.vm')
#end

#set ($automationScriptHeaderTemplate = $core_v2_widget.UniqueId('automationScriptHeaderTemplate'))
#registerClientTemplate($automationScriptHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-automation-editor-header-script.vm')
#end

#set ($automationEditableFileHeaderTemplate = $core_v2_widget.UniqueId('automationEditableFileHeaderTemplate'))
#registerClientTemplate($automationEditableFileHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-automation-editor-header-editable-file.vm')
#end

#set ($automationNonEditableFileViewExampleTemplate = $core_v2_widget.UniqueId('automationNonEditableFileViewExampleTemplate'))
#registerClientTemplate($automationNonEditableFileViewExampleTemplate)
	$core_v2_widget.ExecuteFile('template-automation-non-editable-file-example.vm')
#end

#set ($automationNonEditableFileViewHeaderTemplate = $core_v2_widget.UniqueId('automationNonEditableFileViewHeaderTemplate'))
#registerClientTemplate($automationNonEditableFileViewHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-automation-editor-header-fileviewer.vm')
#end

#set ($automationActionsTemplate = $core_v2_widget.UniqueId('automationActionsTemplate'))
#registerClientTemplate($automationActionsTemplate)
	$core_v2_widget.ExecuteFile('template-automation-actions.vm')
#end

#set ($automationEditorStateTemplate = $core_v2_widget.UniqueId('automationEditorStateTemplate'))
#registerClientTemplate($automationEditorStateTemplate)
	$core_v2_widget.ExecuteFile('template-automation-editor-state.vm')
#end

#set ($automationEditorComponentsTemplate = $core_v2_widget.UniqueId('automationEditorComponentsTemplate'))
#registerClientTemplate($automationEditorComponentsTemplate)
	$core_v2_widget.ExecuteFile('template-automation-components.vm')
#end

#set ($panelWrapperTemplate = $core_v2_widget.UniqueId('panelWrapperTemplate'))
#registerClientTemplate($panelWrapperTemplate)
	$core_v2_widget.ExecuteFile('template-panel-wrapper.vm')
#end

#set ($stagingItemTemplate = 'studioShell-stagingItem')
#registerClientTemplate($stagingItemTemplate)
	$core_v2_widget.ExecuteFile('template-staging-item.vm')
#end

#set ($newAutomationViewTemplate = $core_v2_widget.UniqueId('newAutomationViewTemplate'))
#registerClientTemplate($newAutomationViewTemplate)
	$core_v2_widget.ExecuteFile('template-new-automation.vm')
#end

#set ($automationOverviewViewTemplate = $core_v2_widget.UniqueId('automationOverviewViewTemplate'))
#registerClientTemplate($automationOverviewViewTemplate)
	$core_v2_widget.ExecuteFile('template-automation-overview.vm')
#end

#set ($automationOverviewComponentsViewTemplate = $core_v2_widget.UniqueId('automationOverviewComponentsViewTemplate'))
#registerClientTemplate($automationOverviewComponentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-automation-overview-components.vm')
#end

#set ($automationOverviewFilesViewTemplate = $core_v2_widget.UniqueId('automationOverviewFilesViewTemplate'))
#registerClientTemplate($automationOverviewFilesViewTemplate)
	$core_v2_widget.ExecuteFile('template-automation-overview-files.vm')
#end

#set ($automationOverviewDetailsViewTemplate = $core_v2_widget.UniqueId('automationOverviewDetailsViewTemplate'))
#registerClientTemplate($automationOverviewDetailsViewTemplate)
	$core_v2_widget.ExecuteFile('template-automation-overview-details.vm')
#end

#set ($automationOverviewEventsViewTemplate = $core_v2_widget.UniqueId('automationOverviewEventsViewTemplate'))
#registerClientTemplate($automationOverviewEventsViewTemplate)
	$core_v2_widget.ExecuteFile('template-automation-overview-events.vm')
#end

#set ($automationOverviewTriggerSummaryTemplate = $core_v2_widget.UniqueId('automationOverviewTriggerSummaryTemplate'))
#registerClientTemplate($automationOverviewTriggerSummaryTemplate)
	$core_v2_widget.ExecuteFile('template-automation-trigger-summary.vm')
#end

#set ($globalSearchTemplate = $core_v2_widget.UniqueId('globalSearchTemplate'))
#registerClientTemplate($globalSearchTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search.vm')
#end

#set ($globalSearchResultTemplate = $core_v2_widget.UniqueId('globalSearchResultTemplate'))
#registerClientTemplate($globalSearchResultTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result.vm')
#end

#set ($globalSearchResultOverviewTemplate = $core_v2_widget.UniqueId('globalSearchResultOverviewTemplate'))
#registerClientTemplate($globalSearchResultOverviewTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-overview.vm')
#end

#set ($globalSearchResultLoadingTemplate = $core_v2_widget.UniqueId('globalSearchResultLoadingTemplate'))
#registerClientTemplate($globalSearchResultLoadingTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-loading.vm')
#end
