<% if(State != 'NotPersisted') { %>
	<h3>$core_v2_language.GetResource('Components')</h3>
	<ul class="navigation-list managed-items">
		<li class="navigation-list-item"><a class="automation-component-link executionscript" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_aid=<%: Id %>&_at=executionscript">$core_v2_language.GetResource('Implementation')</a></li>
		<li class="navigation-list-item"><a class="automation-component-link configuration" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_aid=<%: Id %>&_at=configuration">$core_v2_language.GetResource('Configuration')</a></li>
		<li class="navigation-list-item"><a class="automation-component-link resources" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_aid=<%: Id %>&_at=resources">$core_v2_language.GetResource('Resources')</a></li>
	</ul>
<% } %>
