#set($searchText = $core_v2_page.GetQueryStringValue('w_SearchText'))
#set($users = $core_v2_user.Lookup($searchText, "%{PageSize=20}"))

$core_v2_page.SetContentType('application/json')

{"matches":[
	#if($users)
        #foreach($user in $users)
            {
                "userId":"$user.Id",
                "title":"$core_v2_encoding.JavascriptEncode($user.DisplayName)#if($user.DisplayName != $user.Username) ($core_v2_encoding.JavascriptEncode($user.Username))#end",
                "preview":"$!core_v2_encoding.JavascriptEncode($core_v2_ui.GetResizedImageHtml($user.AvatarUrl, 16, 16, "%{OutputIsPersisted='False',ResizeMethod='ZoomAndCrop', alt='$user.DisplayName'}")) $core_v2_encoding.JavascriptEncode($user.DisplayName)#if($user.DisplayName != $user.Username) ($core_v2_encoding.JavascriptEncode($user.Username))#end"
            },
        #end
	#end
null]}