#if ($bestSize > 0)
	#set ($bestRepliesWrapperId = $core_v2_widget.UniqueId('bestRepliesWrapper'))
	#set ($threadId = $thread.Id)

	<div class="best-replies-wrapper do-not-print" id="$core_v2_encoding.HtmlAttributeEncode($bestRepliesWrapperId)">
		$core_v2_widget.ExecuteFile('common-rendered-best.vm')
	</div>
#end