<div class="threaded new-replies <% if(offscreen) { %> offscreen <% } %>" <% if(offscreen) { %> style="width: <%= width %>px" <% } %>>
	<a href="#" data-messagename="ui.replies.new" data-replyid="<%= replyId %>">
		<% if(newReplies == 1) { %>
			<%= newReplies %> $core_v2_language.GetResource('new_reply_single')
		<% } else { %>
			<%= newReplies %> $core_v2_language.GetResource('new_reply_multiple')
		<% } %>
	</a>
</div>
