$core_v2_widget.ExecuteFile('full-parse-options.vm')
#set ($graph = $context.GetAggregateByPeriodSeries($options))
<div class="sparkline"></div>
<pre class="graphData" style="display:none;">$graph</pre>

