$core_v2_widget.ExecuteFile('full-parse-options.vm')

<ul class="cards">
    #set ($type = 'originators')
    #set ($css = 'members-blue')
    $core_v2_widget.ExecuteFile('full-report-summary.card.vm')

    #set ($type = 'contributors')
    #set ($css = 'members-brown')
    $core_v2_widget.ExecuteFile('full-report-summary.card.vm')

    #set ($type = 'engagers')
    #set ($css = 'members-green')
    $core_v2_widget.ExecuteFile('full-report-summary.card.vm')

    #set ($type = 'viewers')
    #set ($css = 'members-purple')
    $core_v2_widget.ExecuteFile('full-report-summary.card.vm')
</ul>