<li class="content-item with-avatar role" data-roleid="$member.Role.Id">
  #set($avatarUrl = false)
  #set($avatarUrl = $member.Role.AvatarUrl)
  #if (!$avatarUrl || $avatarUrl.Length == 0)
	#set($avatarUrl = $core_v2_widget.GetFileUrl('role.gif'))
  #end
  <div class="author">
	<div class="avatar">
		$core_v2_ui.GetResizedImageHtml($avatarUrl, 44, 44, "%{OutputIsPersisted = 'False', ResizeMethod = 'ZoomAndCrop', alt='$member.Role.Name'}")
	</div>
  </div>
	<h4 class="name">$member.Role.Name</h4>
	<div class="post-attributes">
		<ul class="attribute-list">
			<li class="attribute-item membership-type">
				<span class="value">
					#set($membershipType = $core_v2_language.GetResource('membershiptype-unknown'))
					#if ($member.MembershipType == 'Member')
						#set($membershipType = $core_v2_language.GetResource('membershiptype-member'))
					#elseif ($member.MembershipType == 'Manager')
						#set($membershipType = $core_v2_language.GetResource('membershiptype-manager'))
					#elseif ($member.MembershipType == 'Owner')
						#set($membershipType = $core_v2_language.GetResource('membershiptype-owner'))
					#end
					$membershipType
				</span>
			</li>
		</ul>
	</div>
	<div class="content expandable">
		$core_v2_language.Truncate($member.Role.Description, 100, '...')
	</div>
	<div class="actions expandable">
		<div class="navigation-list ui-links" data-direction="horizontal">
			<ul>
				#if ($context.Group.GroupType != 'Joinless')
					#if ($member.MembershipType != 'Member')
						<li class="navigation-list-item edit">
							<a href="#" data-messagename="groupmembers.edit" data-to="Member" data-roleid="$member.Role.Id">$core_v2_language.GetResource('edit-to-member')</a>
						</li>
					#end
					#if ($member.MembershipType != 'Manager')
						<li class="navigation-list-item edit">
							<a href="#" data-messagename="groupmembers.edit" data-to="Manager" data-roleid="$member.Role.Id">$core_v2_language.GetResource('edit-to-manager')</a>
						</li>
					#end
				#end
				#if ($member.MembershipType != 'Owner')
					<li class="navigation-list-item edit">
						<a href="#" data-messagename="groupmembers.edit" data-to="Owner" data-roleid="$member.Role.Id">$core_v2_language.GetResource('edit-to-owner')</a>
					</li>
				#end
				<li class="navigation-list-item delete">
					<a href="#" data-messagename="groupmembers.delete" data-roleid="$member.Role.Id">$core_v2_language.GetResource('delete-role')</a>
				</li>
				<li class="navigation-list-item">
					<a href="#" class="more" data-more>$core_v2_language.GetResource('more')</a>
				</li>
				<li class="navigation-list-item">
					<a href="#" data-cancel>$core_v2_language.GetResource('cancel')</a>
				</li>
			</ul>
		</div>
	</div>
</li>
