#if (!$core_v2_contentRecommendation)
	$core_v2_widget.Hide()
#end

#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 5))
#set ($user = $core_v2_user.Accessing)
#if ($user.IsSystemAccount)
	$core_v2_widget.Hide()
#end

#set($currentContent = $core_v2_content.Current)
#set($query = "%{PageSize=$pageSize,PageIndex=0}")

#set($groupId = $core_v2_utility.ParseInt($core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('groups', '')).Value('Group')))
#set($includeSubGroups = $core_v2_widget.GetBoolValue('includeSubGroups', true))
#if ($groupId)
	#set($group = false)
	#if ($groupId <= 0)
		#set($group = $core_v2_group.Current)
	#else
		#set($group = $core_v2_group.Get("%{ Id = $groupId }"))
	#end

	#if ($group && $group.Id != $core_v2_group.Root.Id)
		#if ($includeSubGroups)
			#set($containerIds = "$group.ContainerId")
			#foreach($subGroup in $core_v2_group.List("%{ IncludeAllSubGroups = 'true', PageSize = 50, ParentGroupId = $group.Id, Permission = 'Group_ReadGroup' }"))
				#set($containerIds = "$containerIds,$subGroup.ContainerId")
			#end
			$query.Add('ContainerIds', $containerIds)
		#else
			$query.Add('ContainerIds', $group.ContainerId)
		#end
	#end
#end

#set($contentTypeIds = $core_v2_widget.GetCustomValue('includeContentTypeIds', 'all'))
#if ($contentTypeIds == 'all')
	#set($filters = '')
	#set($first = true)
	#foreach($contentType in $core_v2_contentType.List())
		#if ($core_v2_searchResult.IsSearchable($contentType.Id))
			#set($applicationType = false)
			#set($applicationType = $core_v2_applicationType.Get($contentType.Id))
			#set($containerType = false)
			#set($containerType = $core_v2_containerType.Get($contentType.Id))
			#if ((!$applicationType || $applicationType.HasErrors()) && (!$containerType || $containerType.HasErrors()))
			   #if ($first)
					#set($filters = "${filters}${contentType.Id}")
					#set($first = false)
				#else
					#set($filters = "${filters},${contentType.Id}")
				#end
			#end
		#end
	#end
	#set($filters = "$filters)")
#else
	#set ($filters = '')
	#set($first = true)
	#foreach($v in $core_v2_page.ParseQueryString($contentTypeIds).Values('ContentTypeId'))
	#each
		#if ($first)
			#set($filters = "${filters}${core_v2_utility.ParseGuid($v)}")
			#set($first = false)
		#else
			#set($filters = "${filters},${core_v2_utility.ParseGuid($v)}")
		#end
	#nodata
		#set($filters="${filters}00000000-0000-0000-0000-000000000000")
	#end
	$query.Add('ContentTypeIds', $filters)
#end

#set($items = $core_v2_contentRecommendation.List($query))
#if (!$items || $items.TotalCount == 0 || ($currentContent && $items.TotalCount == 1 && $items.get_Item(0).Content.ContentId == $currentContent.ContentId))
	$core_v2_widget.Hide()
#end

#foreach ($item in $items)
#beforeall
	<div class="avatar-list">
		<ul class="content-list">
#each
	#if ($item.Content && $item.Content.Errors.Count == 0)
		#set($author = $core_v2_user.Get("%{Id = $item.Content.CreatedByUserId}"))

		<li class="content-item" data-href="$core_v2_encoding.HtmlAttributeEncode($item.Content.Url)">
			<div class="actions">
				<div class="navigation-list">
					<ul>
						<li class="navigation-list-item">
							<a href="#" data-messagename="telligent.evolution.widgets.more.ignore" data-contentid="$item.Content.ContentId" class="ignore ui-tip replace-with-icon cancel-circled" title="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('IgnoreRecommendation'))" data-wrapper="#$core_v2_encoding.JavascriptEncode($core_v2_widget.WrapperElementId)">$core_v2_language.GetResource('Ignore')</a>
						</li>
					</ul>
				</div>
			</div>

			<a href="$core_v2_encoding.HtmlAttributeEncode($item.Content.Url)" class="internal-link view-full-post navigable">
				<div class="content">$core_v2_language.Truncate($item.Content.HtmlName('Web'), 200, "...")</div>
			</a>
			<div class="author">
				<div class="avatar">
						<a href="$core_v2_encoding.HtmlAttributeEncode($item.Content.Url)"
						    $core_v2_ui.ContentPeek($item.Content.ContentId, $item.Content.ContentTypeId, 'internal-link')>
                            #if ($item.Content.AvatarUrl && $item.Content.AvatarUrl != '')
    							$core_v2_ui.GetResizedImageHtml($item.Content.AvatarUrl, 35, 35, "%{border='0px', ResizeMethod='ZoomAndCrop', alt=$item.Content.HtmlName('Web')}")
                            #elseif($author && $author.AvatarUrl && $author.AvatarUrl != '')
                                $core_v2_ui.GetResizedImageHtml($author.AvatarUrl, 35, 35, "%{border='0px', alt=$author.DisplayName, ResizeMethod='ZoomAndCrop'}")
                            #end
						</a>
				</div>
				<div class="meta">
					<a href="$core_v2_encoding.HtmlAttributeEncode($item.Content.Url)" class="internal-link view-post navigable">
						$core_v2_language.Truncate($item.Content.HtmlDescription('Web'), 200, "...")
					</a>
				</div>
			</div>
		</li>
	#end
#afterall
		</ul>
	</div>
#end