#if ($core_v2_page.IsPost)
    $core_v2_page.SetContentType('application/json')

    #set ($Id = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('w_id')))

    #if ($Id > 0)   
        #set($response = $core_v2_leaderboard.Delete($Id))
    	#if($response.HasErrors())
    		$core_v2_page.SendJsonError($response.Errors)
    	#end    
    #end

	{"success": true }
#end