#set($pageIndex = 0)
#set($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageindex')))
#set($pageSize = 20)

#set($leaderboards = $core_v2_leaderboard.List("%{ Scope = 'Global', SortBy = 'Name', SortOrder = 'Ascending', PageSize = $pageSize, PageIndex = $pageIndex, PermissionId = '$core_v2_leaderboard.Permissions.ViewLeaderboard' }"))
#set ($hasMore = 'false')
#set ($currentPagedQuantity = ($leaderboards.PageIndex + 1) * $leaderboards.PageSize)
#if ($leaderboards.TotalCount > $currentPagedQuantity)
	#set ($hasMore = 'true')
#end

<ul class="content-list content expandable simple" data-hasmore="$hasMore" id="$core_v2_encoding.HtmlAttributeEncode($leaderboardsListId)">

#foreach($leaderboard in $leaderboards)
#each
	$core_v2_widget.ExecuteFile('listitem.vm')
#nodata
	<div class="message norecords" data-hasmore="false">
		$core_v2_language.GetResource('NoRecordsFormat')
	</div>
#end

</ul>
