#if ($core_v2_page.IsPost)
	#set($typeId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('typeId')))
	#set($ideaId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('ideaId')))
	#set($subscribe = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('subscribe')))
	#set($contentTypeId = $telligentIdeas_v1_ideas.ContentTypeId)		
	$core_v2_page.SetContentType('application/json')
	#set($response = false)

	#if ($subscribe)
		#set($response = $core_v2_contentSubscription.Create($ideaId, $contentTypeId, "%{TypeId = $typeId}"))
	#else
		#set($response = $core_v2_contentSubscription.Delete($ideaId, $contentTypeId, "%{TypeId = $typeId}"))
	#end
			
	#if ($response && $response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end
	{"subscribe":#if($subscribe) true#else false#end,"warnings":[
		#foreach ($warning in $response.Warnings)
			#each
				"$core_v2_encoding.JavascriptEncode($warning.Message)"
			#between
				,
		#end
	]}
#end