#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($path = $core_v2_page.GetFormValue('Path'))
	#set($response = $context.DeleteSelectableAvatar($path))

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}
#end
