#if ($core_v2_page.IsPost)
	#set($type = $core_v2_page.GetFormValue('type'))
	#set($mute = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('mute')))
	$core_v2_page.SetContentType('application/json')

	#if ($type == 'forumThread')
		$!core_v2_forumThread.SetMuted($core_v2_utility.ParseInt($core_v2_page.GetFormValue('forumThreadId')), $mute)
		{"mute":#if($mute) true#else false#end}
	#else
		$core_v2_page.SendJsonError('Unrecognized mute type')
	#end
#end