#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($fileId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('FileId')))
	#set($publish = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('Publish')))

	#set($response = $context.PublishPost($fileId, $publish))

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}

#end
