#if ($core_v2_page.IsPost)
	#set($type = $core_v2_page.GetFormValue('type'))
	#set($subscribe = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('subscribe')))
	$core_v2_page.SetContentType('application/json')

	#if ($type == 'media')
		$core_v2_media.SetSubscribed($core_v2_utility.ParseInt($core_v2_page.GetFormValue('mediaId')), $subscribe)
		{"subscribe":#if($subscribe) true#else false#end}
	#else
		$core_v2_page.SendJsonError('Unrecognized subscription type.')
	#end
#end