#if ($core_v2_blog)
    <span class="group-application">
        <input type="checkbox" data-key="announcements" data-type="blog" data-name="$core_v2_language.GetResource('Application_Announcements_Name')" id="$core_v2_widget.UniqueId('app-announcements')" />
        <label for="$core_v2_widget.UniqueId('app-announcements')">$core_v2_language.GetResource('Application_Announcements')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="customerbulletins" data-type="blog" data-name="$core_v2_language.GetResource('Application_CustomerBulletins_Name')" id="$core_v2_widget.UniqueId('app-customerbulletins')" />
        <label for="$core_v2_widget.UniqueId('app-customerbulletins')">$core_v2_language.GetResource('Application_CustomerBulletins')</label>
    </span>
#end
#if ($core_v2_gallery)
    <span class="group-application">
        <input type="checkbox" data-key="whitepapers" data-type="gallery" data-name="$core_v2_language.GetResource('Application_Whitepapers_Name')" id="$core_v2_widget.UniqueId('app-whitepapers')" />
        <label for="$core_v2_widget.UniqueId('app-whitepapers')">$core_v2_language.GetResource('Application_Whitepapers')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="presentations" data-type="gallery" data-name="$core_v2_language.GetResource('Application_Presentations_Name')" id="$core_v2_widget.UniqueId('app-presentations')" />
        <label for="$core_v2_widget.UniqueId('app-presentations')">$core_v2_language.GetResource('Application_Presentations')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="photos" data-type="gallery" data-name="$core_v2_language.GetResource('Application_Photos_Name')" id="$core_v2_widget.UniqueId('app-photos')" />
        <label for="$core_v2_widget.UniqueId('app-photos')">$core_v2_language.GetResource('Application_Photos')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="collateral" data-type="gallery" data-name="$core_v2_language.GetResource('Application_Collateral_Name')" id="$core_v2_widget.UniqueId('app-collateral')" />
        <label for="$core_v2_widget.UniqueId('app-collateral')">$core_v2_language.GetResource('Application_Collateral')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="resources" data-type="gallery" data-name="$core_v2_language.GetResource('Application_Resources_Name')" id="$core_v2_widget.UniqueId('app-resources')" />
        <label for="$core_v2_widget.UniqueId('app-resources')">$core_v2_language.GetResource('Application_Resources')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="documents" data-type="gallery" data-name="$core_v2_language.GetResource('Application_Documents_Name')" id="$core_v2_widget.UniqueId('app-documents')" />
        <label for="$core_v2_widget.UniqueId('app-documents')">$core_v2_language.GetResource('Application_Documents')</label>
    </span>
#end
#if ($core_v2_forum)
    <span class="group-application">
        <input type="checkbox" data-key="forum" data-type="forum" data-threadType="Discussion" data-name="$core_v2_language.GetResource('Application_Forum_Name')" id="$core_v2_widget.UniqueId('app-forum')" />
        <label for="$core_v2_widget.UniqueId('app-forum')">$core_v2_language.GetResource('Application_Forum')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="support" data-type="forum" data-threadType="QuestionAndAnswer" data-name="$core_v2_language.GetResource('Application_Support_Name')" id="$core_v2_widget.UniqueId('app-support')" />
        <label for="$core_v2_widget.UniqueId('app-support')">$core_v2_language.GetResource('Application_Support')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="helpdesk" data-type="forum" data-threadType="QuestionAndAnswer" data-name="$core_v2_language.GetResource('Application_Helpdesk_Name')" id="$core_v2_widget.UniqueId('app-helpdesk')" />
        <label for="$core_v2_widget.UniqueId('app-helpdesk')">$core_v2_language.GetResource('Application_Helpdesk')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="escalations" data-type="forum" data-threadType="QuestionAndAnswer" data-name="$core_v2_language.GetResource('Application_Escalations_Name')" id="$core_v2_widget.UniqueId('app-escalations')" />
        <label for="$core_v2_widget.UniqueId('app-escalations')">$core_v2_language.GetResource('Application_Escalations')</label>
    </span>
#end
#if ($calendar_v1_calendars)
	<span class="group-application">
		<input type="checkbox" data-key="events" data-type="calendar" data-name="$core_v2_language.GetResource('Application_Events_Name')" id="$core_v2_widget.UniqueId('app-events')" />
		<label for="$core_v2_widget.UniqueId('app-events')">$core_v2_language.GetResource('Application_Events')</label>
	</span>
#end
#if ($telligentIdeas_v1_challenges)
	<span class="group-application">
		<input type="checkbox" data-key="suggestions" data-type="ideation" data-name="$core_v2_language.GetResource('Application_Suggestions_Name')" id="$core_v2_widget.UniqueId('app-suggestions')" />
		<label for="$core_v2_widget.UniqueId('app-suggestions')">$core_v2_language.GetResource('Application_Suggestions')</label>
	</span>
#end
#if ($articles_v1_articleCollections)
    <span class="group-application">
        <input type="checkbox" data-key="knowledgebase" data-type="collection" data-name="$core_v2_language.GetResource('Application_Articles_KnowledgeBase_Name')" id="$core_v2_widget.UniqueId('app-knowldgebase')" />
        <label for="$core_v2_widget.UniqueId('app-knowldgebase')">$core_v2_language.GetResource('Application_Articles_KnowledgeBase')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="documentation" data-type="collection" data-name="$core_v2_language.GetResource('Application_Articles_Documentation_Name')" id="$core_v2_widget.UniqueId('app-documentation')" />
        <label for="$core_v2_widget.UniqueId('app-documentation')">$core_v2_language.GetResource('Application_Articles_Documentation')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="policies" data-type="collection" data-name="$core_v2_language.GetResource('Application_Articles_Policies_Name')" id="$core_v2_widget.UniqueId('app-policies')" />
        <label for="$core_v2_widget.UniqueId('app-policies')">$core_v2_language.GetResource('Application_Articles_Policies')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="positions" data-type="collection" data-name="$core_v2_language.GetResource('Application_Articles_Positions_Name')" id="$core_v2_widget.UniqueId('app-positions')" />
        <label for="$core_v2_widget.UniqueId('app-positions')">$core_v2_language.GetResource('Application_Articles_Positions')</label>
    </span>
#elseif ($core_v2_wiki)
    <span class="group-application">
        <input type="checkbox" data-key="knowledgebase" data-type="wiki" data-name="$core_v2_language.GetResource('Application_KnowledgeBase_Name')" id="$core_v2_widget.UniqueId('app-knowldgebase')" />
        <label for="$core_v2_widget.UniqueId('app-knowldgebase')">$core_v2_language.GetResource('Application_KnowledgeBase')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="documentation" data-type="wiki" data-name="$core_v2_language.GetResource('Application_Documentation_Name')" id="$core_v2_widget.UniqueId('app-documentation')" />
        <label for="$core_v2_widget.UniqueId('app-documentation')">$core_v2_language.GetResource('Application_Documentation')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="policies" data-type="wiki" data-name="$core_v2_language.GetResource('Application_Policies_Name')" id="$core_v2_widget.UniqueId('app-policies')" />
        <label for="$core_v2_widget.UniqueId('app-policies')">$core_v2_language.GetResource('Application_Policies')</label>
    </span>
    <span class="group-application">
        <input type="checkbox" data-key="positions" data-type="wiki" data-name="$core_v2_language.GetResource('Application_Positions_Name')" id="$core_v2_widget.UniqueId('app-positions')" />
        <label for="$core_v2_widget.UniqueId('app-positions')">$core_v2_language.GetResource('Application_Positions')</label>
    </span>
#end
<div style="clear: both;"></div>