<ul class="field-list">
	<li class="field-item applications">
		<label class="field-item-name">$core_v2_language.GetResource('Applications')</label>
		<span class="field-item-input">
			$core_v2_widget.ExecuteFile('group-application-list.vm')
		</span>
	</li>
	<li class="field-item photo-upload" id="$core_v2_widget.UniqueId('avatar')">
		<label for="$core_v2_widget.UniqueId('avatar')" class="field-item-name">$core_v2_language.GetResource('Avatar')</label>
		<span class="field-item-description">$core_v2_language.GetResource('Avatar_Description')</span>
		<span class="field-item-input preview" style="display: none;">
			</span>
				<span class="field-item-input upload">
			<a href="#" class="prepend-icon upload add" id="$core_v2_widget.UniqueId('upload_avatar')">$core_v2_language.GetResource('UploadPhoto')</a>
			<a href="#" class="remove" style="margin-left: 1em;">$core_v2_language.GetResource('RemovePhoto')</a>
		</span>
		</li>
	<li class="field-item owner-email">
		<label class="field-item-name" for="$core_v2_widget.UniqueId('owneremail')">$core_v2_language.GetResource('OwnerEmail')</label>
		<span class="field-item-description">$core_v2_language.GetResource('OwnerEmail_Description')</span>
		<span class="field-item-input"><input type="text" id="$core_v2_widget.UniqueId('owneremail')" /></span>
	</li>
</ul>