<div class="socket-state ui-tip offline"
	data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('disconnect'))">
	<div class="socket-state-border"></div>
	<div class="socket-state-indicator-wrapper">
		<div class="socket-state-indicator"></div>
	</div>
</div>