#set($queryText = $core_v2_page.GetQueryStringValue('w_query'))
#set($userIds = $core_v2_page.GetQueryStringValue('w_userIds'))
#set($roleId = $core_v2_utility.ParseGuid($core_v2_page.GetQueryStringValue('w_roleId')))
#set($accountStatus = $core_v2_page.GetQueryStringValue('w_accountStatus'))
#set($dateComparison = $core_v2_page.GetQueryStringValue('w_dateComparison'))
#set($date1 = $core_v2_utility.ParseDate($core_v2_page.GetQueryStringValue('w_date1')))
#set($date2 = $core_v2_utility.ParseDate($core_v2_page.GetQuerYStringValue('w_date2')))
#set($sortBy = $core_v2_page.GetQueryStringValue('w_sortBy'))
#set($sortOrder = $core_v2_page.GetQueryStringValue('w_sortOrder'))
#set($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageIndex')))
#set($pageSize = 20)

#set($query = "%{Query=$queryText,SortBy=$sortBy,SortOrder=$sortOrder,PageSize=$pageSize,PageIndex=$pageIndex}")
#if ($roleId)
    $query.Add('RoleId', $roleId)
#end
#if ($userIds && $userIds.Length > 0)
    $query.Add('UserIds', $userIds)
#end
#if ($accountStatus && $accountStatus.Length > 0)
    $query.Add('AccountStatus', $accountStatus)
#end
#if($dateComparison == 'JoinedBefore')
    $query.Add('JoinedDateComparison', 'LessThan')
    $query.Add('JoinedDate1', $date1)
#elseif($dateComparison == 'JoinedAfter')
    $query.Add('JoinedDateComparison', 'GreaterThan')
    $query.Add('JoinedDate1', $date1)
#elseif($dateComparison == 'JoinedBetween')
    $query.Add('JoinedDateComparison', 'Between')
    $query.Add('JoinedDate1', $date1)
    $query.Add('JoinedDate2', $date2)
#elseif($dateComparison == 'VisitedBefore')
    $query.Add('LastVisitedDateComparison', 'LessThan')
    $query.Add('LastVisitedDate1', $date1)
#elseif($dateComparison == 'VisitedAfter')
    $query.Add('LastVisitedDateComparison', 'GreaterThan')
    $query.Add('LastVisitedDate1', $date1)
#end