$core_v2_widget.ExecuteFile('full-parse-options.vm')

#set($pageIndex = 0)
#set($pageIndex = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('w_pageindex')))
$options.Add('PageIndex', $pageIndex)

#set($pageSize = 15)
$options.Add('PageSize', $pageSize)

#set ($groups = $context.GetDetail($options))

#foreach($group in $groups)
#beforeall
<div class="responsive-wrapper">
	<table>
	<thead>
		<tr>
            $reporting_ui.SortableTableHeader("", "Name", "ascending", $core_v2_language.GetResource('Name'), $sortBy, $sortOrder)
            $reporting_ui.SortableTableHeader("", "ActivityDate", "descending", $core_v2_language.GetResource('ActivityDate'), $sortBy, $sortOrder)
            $reporting_ui.SortableTableHeader("number", "ActivityCount", "descending", $core_v2_language.GetResource('ActivityCount'), $sortBy, $sortOrder)
			<th>$core_v2_language.GetResource('GroupType')</th>
			<th>$core_v2_language.GetResource('ParentGroup')</th>
		</tr>
	</thead>
	<tbody>
#each
    	#set ($apiGroup = false)
		#set ($apiGroup = $core_v2_group.Get($group.ContainerId))

		<tr data-id="$group.ContainerId">
            #if($apiGroup && !$apiGroup.HasErrors() && $apiGroup.Url)
                #set ($url = $apiGroup.Url)
            #else
                #set ($url = '')
            #end
            $reporting_ui.GroupNameTableCellWithActions($group.ContainerId, $group.Name, $url)
			<td data-title="$core_v2_language.GetResource('ActivityDate')">
                #if($group.LastActivityDate)$core_v2_language.FormatDateAndTime($group.LastActivityDate, "%{AdjustTimeZone = 'false'}")#end
            </td>
            <td class="number" data-title="$core_v2_language.GetResource('ActivityCount')">
                #if ($group.ActivityCount > 0)
                    <a href="#" class="report-drilldown" data-report-id="$reporting_reports.ActivitiesReport" data-localfiltertype="container" data-localfilterid="$group.ContainerId" data-localfiltername="$core_v2_encoding.HtmlAttributeEncode($group.Name)"
                    #if ($localStartDate.length > 0) data-localStartDate="$!localStartDate" #else data-localStartDate="$core_v2_utility.ParseDate($startDate).ToString("yyyy-MM-dd")" #end #if ($localEndDate.length > 0) data-localEndDate="$!localEndDate" #else data-localEndDate="$core_v2_utility.ParseDate($endDate).ToString("yyyy-MM-dd")" #end>$group.ActivityCount.ToString("N0")</a>
                #else
                    $group.ActivityCount.ToString("N0")
                #end
            </td>

			<td data-title="$core_v2_language.GetResource('GroupType')">$!group.ContainerSubType</td>
			<td data-title="$core_v2_language.GetResource('ParentGroup')">$!group.ParentContainer.Name</td>
		</tr>
#afterall
    </tbody>
	</table>
</div>
<div class="pager-data" data-pagesize="$groups.PageSize" data-totalitems="$groups.TotalCount"></div>
#nodata
	#if ($pageIndex == 0)
		<div class="message norecords">
			$core_v2_language.GetResource("NoData")
		</div>
	#end
#end