##
## Publish Theme Callback
##
$core_v2_page.SetContentType('application/json')

#if ($core_v2_page.IsPost)
	#set ($options = "%{}")

	#set ($idQuery = $core_v2_page.GetFormValue("_w_id"))
	#if ($idQuery)
		$options.Add('Id', $idQuery)
	#end

	#set ($typeIdQuery = $core_v2_page.GetFormValue("_w_typeId"))
	#if ($typeIdQuery)
		$options.Add('TypeId', $typeIdQuery)
	#end

	#set ($publishResult = $context.PublishTheme($options))
	#if ($publishResult && $publishResult.HasErrors())
		$core_v2_page.SendJsonError($publishResult.Errors)
	#end

	## published theme
	#set ($theme = false)
	#set ($theme = $context.GetTheme($options))
	#if ($theme && $theme.HasErrors())
		$core_v2_page.SendJsonError($theme.Errors)
	#end

	## return list of staged fragments
	#set ($themes = $context.ListThemes("%{ Staged = 'true' }"))
	#if ($themes && $themes.HasErrors())
		$core_v2_page.SendJsonError($themes.Errors)
	#end

	{
		"publishedTheme": #if ($theme) $core_v2_widget.ExecuteFile('callback-sub-serialize-theme-full.vm') #else null #end,
		"stagedThemes": $core_v2_widget.ExecuteFile('callback-sub-serialize-theme-summaries.vm')
	}
#end