<ul class="attribute-list">
	<li class="attribute-item">
		<span class="attribute-name">$core_v2_language.GetResource('Id')</span>
		<span class="attribute-value"><%: Id %></span>
	</li>
	<li class="attribute-item">
		<span class="attribute-name">$core_v2_language.GetResource('TypeName')</span>
		<span class="attribute-value"><%: (TypeName || '') %></span>
	</li>
	<li class="attribute-item">
		<span class="attribute-name">$core_v2_language.GetResource('TypeId')</span>
		<span class="attribute-value"><%: TypeId %></span>
	</li>
</ul>
