<% if(State != 'NotPersisted') { %>
	<h3>$core_v2_language.GetResource('Scripts')</h3>
	<ul class="navigation-list managed-items">
	<% if(ScriptFiles && ScriptFiles.length > 0) { %>
		<% foreach(ScriptFiles, function(scriptFile){ %>
			<li class="navigation-list-item">
				<a class="managed-item-link script ui-tip" data-name="<%: scriptFile.Name %>" data-tip="<%: scriptFile.Name %>" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=script&_tn=<%: scriptFile.Name %>"><%: scriptFile.Name %></a>
				<a href="#" class="delete" data-messagename="mt.view.file.delete" data-reqkey="_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=script&_tn=<%: scriptFile.Name %>">$core_v2_language.GetResource('Delete')</a>
			</li>
		<% }); %>
	<% } %>
	</ul>
	<div class="navigation-list managed-items actions">
		<ul class="actions ui-links" data-maxlinks="0">
			<li class="navigation-list-item">
				<a href="#" data-messagename="mt.view.theme.initiate-new-file" data-reqkey="_tid=<%: Id %>&_ttid=<%: TypeId %>">$core_v2_language.GetResource('AddFile')</a>
			</li>
			<li class="navigation-list-item">
				<a href="#" data-messagename="mt.view.theme.initiate-upload" data-reqkey="_tid=<%: Id %>&_ttid=<%: TypeId %>">$core_v2_language.GetResource('UploadFile')</a>
			</li>
			<li class="navigation-list-item">
				<a class="node-actions-more" href="#" data-more>$core_v2_language.GetResource('NewFile')</a>
			</li>
			<li class="navigation-list-item">
				<a href="#" data-cancel>$core_v2_language.GetResource('Cancel')</a>
			</li>
		</ul>
	</div>
	<br />
<% } %>