<form>
	<p>$core_v2_language.GetResource('revert-instructions')</p>
	<fieldset class="revert-options">
		<ul class="field-list">
			<li class="field-item id">

				<span class="field-item-input">
					<input type="checkbox" id="pages" class="pages" />
					<label for="pages" >$core_v2_language.GetResource('revert-pages')</label>
				</span>

				<span class="field-item-description">
					$core_v2_language.GetResource('revert-pages-description-1')
					<select class="pages-revert">
						<option value="platform">$core_v2_language.GetResource('revert-platform-pages')</option>
						<option value="platform-custom">$core_v2_language.GetResource('revert-platform-and-custom-pages')</option>
					</select>
					$core_v2_language.GetResource('revert-pages-description-2')
					<select class="pages-revertto">
						<option value="Default">$core_v2_language.GetResource('revert-to-default')</option>
						<option value="ConfiguredDefault">$core_v2_language.GetResource('revert-to-configured-default')</option>
					</select>
					$core_v2_language.GetResource('revert-pages-description-3')
				</span>
			</li>

			<li class="field-item id">
				<span class="field-item-input">
					<input type="checkbox" id="headers" class="headers" />
					<label for="headers">$core_v2_language.GetResource('revert-headers')</label>
				</span>

				<span class="field-item-description">
					$core_v2_language.GetResource('revert-headers-description-1')
					<select class="headers-revertto">
						<option value="Default">$core_v2_language.GetResource('revert-to-default')</option>
						<option value="ConfiguredDefault">$core_v2_language.GetResource('revert-to-configured-default')</option>
					</select>
					$core_v2_language.GetResource('revert-headers-description-2')
				</span>
			</li>

			<li class="field-item id">
				<span class="field-item-input">
					<input type="checkbox" id="footers" class="footers" />
					<label for="footers">$core_v2_language.GetResource('revert-footers')</label>
				</span>

				<span class="field-item-description">
					$core_v2_language.GetResource('revert-footers-description-1')
					<select class="footers-revertto">
						<option value="Default">$core_v2_language.GetResource('revert-to-default')</option>
						<option value="ConfiguredDefault">$core_v2_language.GetResource('revert-to-configured-default')</option>
					</select>
					$core_v2_language.GetResource('revert-footers-description-2')
				</span>
			</li>
			
			<li class="field-item id">
				<span class="field-item-input">
					<input type="checkbox" id="themeconfiguration" class="themeconfiguration" />
					<label for="themeconfiguration">$core_v2_language.GetResource('revert-theme-configuration')</label>
				</span>

				<span class="field-item-description">
					$core_v2_language.GetResource('revert-theme-configuration-description')
				</span>
			</li>

			<li class="field-item id">
				<span class="field-item-input">
					<input type="checkbox" id="scopedproperties" class="scopedproperties" />
					<label for="scopedproperties">$core_v2_language.GetResource('revert-scoped-properties')</label>
				</span>

				<span class="field-item-description">
					$core_v2_language.GetResource('revert-scoped-properties-description')
				</span>
			</li>

			<li class="field-item submit">
				<span class="field-item-input">
					<a href="#" class="button cancel">$core_v2_language.GetResource('Cancel')</a>
				</span>
				<span class="field-item-input">
					<a href="#" class="button preview">$core_v2_language.GetResource('PreviewReversion')</a>
				</span>
				<span class="field-item-input">
					<a href="#" class="minimal-button button publish">$core_v2_language.GetResource('RevertAndPublish')</a>
				</span>
			</li>

		</ul>
	</fieldset>
</form>