<div class="select-theme-file-type">
	<ul class="field-list">
		<li class="field-item submit">
			<span class="field-item-description">$core_v2_language.GetResource('StyleSheetDesc')</span>
			<span class="field-item-input">
				<a href="#" class="button" data-type="Style">$core_v2_language.GetResource('StyleSheet')</a>
			</span>
		</li>
		<li class="field-item submit">
			<span class="field-item-description">$core_v2_language.GetResource('ScriptDesc')</span>
			<span class="field-item-input">
				<a href="#" class="button" data-type="Script">$core_v2_language.GetResource('Script')</a>
			</span>
		</li>
		<li class="field-item submit">
			<span class="field-item-description">$core_v2_language.GetResource('SupplementalFileDesc')</span>
			<span class="field-item-input">
				<a href="#" class="button" data-type="File">$core_v2_language.GetResource('SupplementalFile')</a>
			</span>
		</li>
	</ul>
</div>