$shell.RenderShellTemplates()

#set ($browseHeaderTemplate = $core_v2_widget.UniqueId('browseHeaderTemplate'))
#registerClientTemplate($browseHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-browse-header.vm')
#end

#set ($browseViewItemTemplate = $core_v2_widget.UniqueId('browseViewItemTemplate'))
#registerClientTemplate($browseViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-browse-view-item.vm')
#end

#set ($selectFileTypeTemplate = $core_v2_widget.UniqueId('selectFileTypeTemplate'))
#registerClientTemplate($selectFileTypeTemplate)
	$core_v2_widget.ExecuteFile('template-select-file-type.vm')
#end

#set ($revertStagedComponentsTemplate = $core_v2_widget.UniqueId('revertStagedComponentsTemplate'))
#registerClientTemplate($revertStagedComponentsTemplate)
	$core_v2_widget.ExecuteFile('template-revert-staged-components.vm')
#end

#set ($revertOptionsTemplate = $core_v2_widget.UniqueId('revertOptionsTemplate'))
#registerClientTemplate($revertOptionsTemplate)
	$core_v2_widget.ExecuteFile('template-revert-options.vm')
#end

#set ($importSelectorTemplate = $core_v2_widget.UniqueId('importSelectorTemplate'))
#registerClientTemplate($importSelectorTemplate)
	$core_v2_widget.ExecuteFile('template-import-selector.vm')
#end

#set ($tabViewItemTemplate = $core_v2_widget.UniqueId('tabViewItemTemplate'))
#registerClientTemplate($tabViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-tab-view-item.vm')
#end

#set ($themeStyleHeaderTemplate = $core_v2_widget.UniqueId('themeStyleHeaderTemplate'))
#registerClientTemplate($themeStyleHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-header-style.vm')
#end

#set ($themeHeadScriptHeaderTemplate = $core_v2_widget.UniqueId('themeHeadScriptHeaderTemplate'))
#registerClientTemplate($themeHeadScriptHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-header-headscript.vm')
#end

#set ($themeNonEditableFileViewExampleTemplate = $core_v2_widget.UniqueId('themeNonEditableFileViewExampleTemplate'))
#registerClientTemplate($themeNonEditableFileViewExampleTemplate)
	$core_v2_widget.ExecuteFile('template-theme-non-editable-file-example.vm')
#end

#set ($themeNonEditableFileViewHeaderTemplate = $core_v2_widget.UniqueId('themeNonEditableFileViewHeaderTemplate'))
#registerClientTemplate($themeNonEditableFileViewHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-header-fileviewer.vm')
#end

#set ($themeEditableFileHeaderTemplate = $core_v2_widget.UniqueId('themeEditableFileHeaderTemplate'))
#registerClientTemplate($themeEditableFileHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-header-editable-file.vm')
#end

#set ($themeScriptHeaderTemplate = $core_v2_widget.UniqueId('themeScriptHeaderTemplate'))
#registerClientTemplate($themeScriptHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-header-script.vm')
#end

#set ($themeStyleViewTemplate = $core_v2_widget.UniqueId('themeStyleViewTemplate'))
#registerClientTemplate($themeStyleViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-style.vm')
#end

#set ($themeActionsTemplate = $core_v2_widget.UniqueId('themeActionsTemplate'))
#registerClientTemplate($themeActionsTemplate)
	$core_v2_widget.ExecuteFile('template-theme-actions.vm')
#end

#set ($themeEditorStateTemplate = $core_v2_widget.UniqueId('themeEditorStateTemplate'))
#registerClientTemplate($themeEditorStateTemplate)
	$core_v2_widget.ExecuteFile('template-theme-editor-state.vm')
#end

#set ($themeEditorComponentsTemplate = $core_v2_widget.UniqueId('themeEditorComponentsTemplate'))
#registerClientTemplate($themeEditorComponentsTemplate)
	$core_v2_widget.ExecuteFile('template-theme-components.vm')
#end

#set ($themeOverviewViewTemplate = $core_v2_widget.UniqueId('themeOverviewViewTemplate'))
#registerClientTemplate($themeOverviewViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-overview.vm')
#end

#set ($themeOverviewComponentsViewTemplate = $core_v2_widget.UniqueId('themeOverviewComponentsViewTemplate'))
#registerClientTemplate($themeOverviewComponentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-overview-components.vm')
#end

#set ($themeOverviewFilesViewTemplate = $core_v2_widget.UniqueId('themeOverviewFilesViewTemplate'))
#registerClientTemplate($themeOverviewFilesViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-overview-files.vm')
#end

#set ($themeOverviewStyleFilesViewTemplate = $core_v2_widget.UniqueId('themeOverviewStyleFilesViewTemplate'))
#registerClientTemplate($themeOverviewStyleFilesViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-overview-stylefiles.vm')
#end

#set ($themeOverviewScriptFilesViewTemplate = $core_v2_widget.UniqueId('themeOverviewScriptFilesViewTemplate'))
#registerClientTemplate($themeOverviewScriptFilesViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-overview-scriptfiles.vm')
#end

#set ($themeOverviewDetailsViewTemplate = $core_v2_widget.UniqueId('themeOverviewDetailsViewTemplate'))
#registerClientTemplate($themeOverviewDetailsViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-overview-details.vm')
#end

#set ($themeLayoutsViewTemplate = $core_v2_widget.UniqueId('themeLayoutsViewTemplate'))
#registerClientTemplate($themeLayoutsViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-layouts.vm')
#end

#set ($themeLayoutsListViewTemplate = $core_v2_widget.UniqueId('themeLayoutsListViewTemplate'))
#registerClientTemplate($themeLayoutsListViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-layouts-list.vm')
#end

#set ($themeFragmentsViewTemplate = $core_v2_widget.UniqueId('themeFragmentsViewTemplate'))
#registerClientTemplate($themeFragmentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-fragments.vm')
#end

#set ($themeFragmentsListViewTemplate = $core_v2_widget.UniqueId('themeFragmentsListViewTemplate'))
#registerClientTemplate($themeFragmentsListViewTemplate)
	$core_v2_widget.ExecuteFile('template-theme-fragments-list.vm')
#end

#set ($panelWrapperTemplate = $core_v2_widget.UniqueId('panelWrapperTemplate'))
#registerClientTemplate($panelWrapperTemplate)
	$core_v2_widget.ExecuteFile('template-panel-wrapper.vm')
#end


#set ($stagingItemTemplate = 'studioShell-stagingItem')
#registerClientTemplate($stagingItemTemplate)
	$core_v2_widget.ExecuteFile('template-staging-item.vm')
#end

#set ($globalSearchTemplate = $core_v2_widget.UniqueId('globalSearchTemplate'))
#registerClientTemplate($globalSearchTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search.vm')
#end

#set ($globalSearchResultTemplate = $core_v2_widget.UniqueId('globalSearchResultTemplate'))
#registerClientTemplate($globalSearchResultTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result.vm')
#end

#set ($globalSearchResultOverviewTemplate = $core_v2_widget.UniqueId('globalSearchResultOverviewTemplate'))
#registerClientTemplate($globalSearchResultOverviewTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-overview.vm')
#end

#set ($globalSearchResultLoadingTemplate = $core_v2_widget.UniqueId('globalSearchResultLoadingTemplate'))
#registerClientTemplate($globalSearchResultLoadingTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-loading.vm')
#end

#set ($selectThemeTemplate = $core_v2_widget.UniqueId('selectThemeTemplate'))
#registerClientTemplate($selectThemeTemplate)
	$core_v2_widget.ExecuteFile('template-select-theme.vm')
#end

#set ($previewThemeTemplate = $core_v2_widget.UniqueId('previewThemeTemplate'))
#registerClientTemplate($previewThemeTemplate)
	$core_v2_widget.ExecuteFile('template-preview-theme.vm')
#end
