<h3>$core_v2_language.GetResource('Components')</h3>
<ul class="navigation-list managed-items">
	<li class="navigation-list-item"><a class="theme-component-link headscript" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=headscript">$core_v2_language.GetResource('HeadScript')</a></li>
	<li class="navigation-list-item"><a class="theme-component-link bodyscript" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=bodyscript">$core_v2_language.GetResource('BodyScript')</a></li>
	<li class="navigation-list-item"><a class="theme-component-link configuration" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=configuration">$core_v2_language.GetResource('Configuration')</a></li>
	<li class="navigation-list-item"><a class="theme-component-link resources" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=resources">$core_v2_language.GetResource('Resources')</a></li>
	<li class="navigation-list-item"><a class="theme-component-link palettes" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=palettes">$core_v2_language.GetResource('Palettes')</a></li>
	<li class="navigation-list-item"><a class="theme-component-link layouts" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=layouts">$core_v2_language.GetResource('Layouts')</a></li>
	<li class="navigation-list-item"><a class="theme-component-link fragments" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_tid=<%: Id %>&_ttid=<%: TypeId %>&_tt=fragments">$core_v2_language.GetResource('Fragments')</a></li>
</ul>
