<div class="editor-header">
	<form class="template-editor-header"></form>
	<div class="editor-state template-editor-state"></div>
	<span class="field-description ui-tip" data-tip="<%= description %>"><%= description %></span>
</div>
<div class="editor-content fragments">
	<h2>$core_v2_language.GetResource('FragmentsHeader')</h2>
	<div class="layout-list fragments">
		<span class="ui-loading" width="32" height="32"></span>
	</div>
</div>
