#set ($snippetId = false)
#set ($snippetId = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('snippetId')))

#set ($snippetResponse = $context.GetToken($snippetId))
#if (!$snippetResponse.HasErrors())
	#set ($snippet = $snippetResponse.Value)
#end

$core_v2_widget.ExecuteFile('form.vm')