<form><fieldset>
	<ul class="field-list">
		<li class="field-item">
			<span class="field-item-input">
				<input type="text" placeholder="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('find'))">
			</span>
		</li>
	</ul>
</fieldset></form>

<div class="role-members-list">
	$core_v2_widget.ExecuteFile('paged-members.vm')
</div>
