#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set ($roleId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('RoleId')))
	#set ($cloneRoleId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('CloneRoleId')))
	#set ($permissions = $core_v2_page.GetFormValue('Permissions'))

	#set($Name = false)
	#set($Name = $core_v2_page.GetFormValue('Name'))
	#set($Description = $core_v2_page.GetFormValue('Description'))
	#set($IsPrivate = $core_v2_page.GetFormValue('IsPrivate'))

	#set($fileChanged = $core_v2_page.GetFormValue('FileChanged')) ## 1/0
	#set($fileName = false)
	#set($fileName = $core_v2_page.GetFormValue('FileName')) ## set if file is updated
	#set($fileContextId = false)
	#set($fileContextId = $core_v2_page.GetFormValue('FileContextId')) ## set if file is updated and not remote
	#set($fileRemoved = $core_v2_page.GetFormValue('FileRemoved')) ## 1/0

	#set($options = "%{}")
	$options.Add('Permissions', $permissions)

	#if ($Name && $Name != '')
		$options.Add('Name', $Name)
	#end

	$options.Add('Description', $Description)
	$options.Add('IsPrivate', $IsPrivate)

	#if ($fileChanged == '1')
		#set($file = false)
		#set($file = $core_v2_uploadedFile.Get($fileContextId, $fileName))
		#if ($file)
			$options.Add('AvatarFileUploadContext', $fileContextId)
			$options.Add('AvatarFileName',$file.Name)
		#end
	#elseif ($fileRemoved == '1')
		$options.Add('RemoveAvatarImage', 'true')
	#end

	#if ($roleId > 0)
		#set($response = $context.UpdateRole($roleId, $options))
	#else
		#set($response = $context.SaveRole($cloneRoleId, $options))
	#end

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true, "roleId": "$response.Id"}
#end