#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set ($fileName = false)
	#set ($fileName = $core_v2_page.GetFormValue('fileName'))
	#set ($uploadContextId = false)
	#set ($uploadContextId = $core_v2_page.GetFormValue('uploadContextId'))
	#if ($fileName && $uploadContextId)
		#set($response = $context.InstallLicense($uploadContextId, $fileName))
		#if ($response.Errors && $response.Errors.Count > 0)
			$core_v2_page.SendJsonError($response.Errors)
		#else
			{
				"success":true
			}
		#end
	#end
#end
