#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set ($overwrite = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('w_overwrite')))
	#set ($groupType = $core_v2_page.GetFormValue('w_groupType'))
	#set ($roleId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('w_roleId')))
	#set ($permissions = $core_v2_page.GetFormValue('w_permissions'))

	#set($response = $context.UpdatePermissions($groupType, $roleId, $permissions, $overwrite))

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}
#end