#set ($sortBy = $core_v2_widget.GetStringValue('sortBy', 'GroupQualityAuthorScore'))
#if ($sortBy == 'GroupQualityAuthorScore')
	#set ($sortBy = "Score:${core_v2_groupAuthorQualityScore.ScoreId}")
#end
#set ($sortOrder = $core_v2_widget.GetStringValue('sortOrder', 'Descending'))
#set ($groupId = false)
#set ($groupId = $core_v2_utility.ParseInt($core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('groupSelection','')).Value('Group')))
#if ($groupId <= 0)
    #set ($groupId = $core_v2_group.Current.Id)
#end

#set ($pageSize = $core_v2_widget.GetIntValue('pageSize', 20))
#set ($pageIndex = $core_v2_ui.GetCurrentPageIndex())
#set ($show = $core_v2_widget.GetStringValue('show', 'owners'))

#set ($members = false)
#if ($show == 'owners')
	#set ($members = $core_v2_groupUserMember.ListEffectiveGroupMembers($groupId, "%{ MembershipType='Owner', PageIndex = $pageIndex, PageSize = $pageSize, SortBy = 'DisplayName', SortOrder = 'Ascending', IncludeRoleMembers='True' }"))
#elseif ($sortBy == "Score:${core_v2_groupAuthorQualityScore.ScoreId}")
    #set ($members = $core_v2_groupUserMember.ListEffectiveGroupMembers($groupId, "%{ PageIndex = $pageIndex, PageSize = $pageSize, SortBy = $sortBy, SortOrder = $sortOrder }"))
#else
    #set ($members = $core_v2_groupUserMember.ListEffectiveGroupMembers($groupId, "%{ PageIndex = $pageIndex, PageSize = $pageSize, SortBy = $sortBy, SortOrder = $sortOrder, MembershipType='Owner,Manager,Member' }"))
#end

#if (!$members || $members.TotalCount == 0)
    $core_v2_widget.Hide()
#end

#foreach ($member in $members)
#beforeall
	<div class="content-list thumbnail small#if($core_v2_widget.GetBoolValue('enablePaging', true)) margin-bottom#end">
#each
	<div class="content-item content thumbnail small ui-tip" title="$member.User.DisplayName">
		<div class="avatar">
			#if ($member.User.ProfileUrl)
				<a href="$core_v2_encoding.HtmlAttributeEncode($member.User.ProfileUrl)">$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl, 48, 48, "%{alt=$member.User.DisplayName,border='0',ResizeMethod = 'ZoomAndCrop'}")</a>
			#else
				$core_v2_ui.GetResizedImageHtml($member.User.AvatarUrl, 48, 48, "%{alt=$member.User.DisplayName,border='0',ResizeMethod = 'ZoomAndCrop'}")
			#end
	        </div>
	        <h2 class="name">
	            $core_v2_language.Truncate($member.User.DisplayName, 15, "...")
	        </h2>
	</div>
#afterall
	</div>
#end