$shell.RenderShellTemplates()

#set ($browseHeaderTemplate = $core_v2_widget.UniqueId('browseHeaderTemplate'))
#registerClientTemplate($browseHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-browse-header.vm')
#end

#set ($browseViewItemTemplate = $core_v2_widget.UniqueId('browseViewItemTemplate'))
#registerClientTemplate($browseViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-browse-view-item.vm')
#end

#set ($importSelectorTemplate = $core_v2_widget.UniqueId('importSelectorTemplate'))
#registerClientTemplate($importSelectorTemplate)
	$core_v2_widget.ExecuteFile('template-import-selector.vm')
#end

#set ($tabViewItemTemplate = $core_v2_widget.UniqueId('tabViewItemTemplate'))
#registerClientTemplate($tabViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-tab-view-item.vm')
#end

#set ($embeddableScriptHeaderTemplate = $core_v2_widget.UniqueId('embeddableScriptHeaderTemplate'))
#registerClientTemplate($embeddableScriptHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-editor-header-script.vm')
#end

#set ($embeddableEditableFileHeaderTemplate = $core_v2_widget.UniqueId('embeddableEditableFileHeaderTemplate'))
#registerClientTemplate($embeddableEditableFileHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-editor-header-editable-file.vm')
#end

#set ($embeddableNonEditableFileViewExampleTemplate = $core_v2_widget.UniqueId('embeddableNonEditableFileViewExampleTemplate'))
#registerClientTemplate($embeddableNonEditableFileViewExampleTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-non-editable-file-example.vm')
#end

#set ($embeddableNonEditableFileViewHeaderTemplate = $core_v2_widget.UniqueId('embeddableNonEditableFileViewHeaderTemplate'))
#registerClientTemplate($embeddableNonEditableFileViewHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-editor-header-fileviewer.vm')
#end

#set ($embeddableActionsTemplate = $core_v2_widget.UniqueId('embeddableActionsTemplate'))
#registerClientTemplate($embeddableActionsTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-actions.vm')
#end

#set ($embeddableEditorStateTemplate = $core_v2_widget.UniqueId('embeddableEditorStateTemplate'))
#registerClientTemplate($embeddableEditorStateTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-editor-state.vm')
#end

#set ($embeddableEditorComponentsTemplate = $core_v2_widget.UniqueId('embeddableEditorComponentsTemplate'))
#registerClientTemplate($embeddableEditorComponentsTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-components.vm')
#end

#set ($panelWrapperTemplate = $core_v2_widget.UniqueId('panelWrapperTemplate'))
#registerClientTemplate($panelWrapperTemplate)
	$core_v2_widget.ExecuteFile('template-panel-wrapper.vm')
#end

#set ($stagingItemTemplate = 'studioShell-stagingItem')
#registerClientTemplate($stagingItemTemplate)
	$core_v2_widget.ExecuteFile('template-staging-item.vm')
#end

#set ($newEmbeddableViewTemplate = $core_v2_widget.UniqueId('newEmbeddableViewTemplate'))
#registerClientTemplate($newEmbeddableViewTemplate)
	$core_v2_widget.ExecuteFile('template-new-embeddable.vm')
#end

#set ($embeddableOverviewViewTemplate = $core_v2_widget.UniqueId('embeddableOverviewViewTemplate'))
#registerClientTemplate($embeddableOverviewViewTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-overview.vm')
#end

#set ($embeddableOverviewComponentsViewTemplate = $core_v2_widget.UniqueId('embeddableOverviewComponentsViewTemplate'))
#registerClientTemplate($embeddableOverviewComponentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-overview-components.vm')
#end

#set ($embeddableOverviewFilesViewTemplate = $core_v2_widget.UniqueId('embeddableOverviewFilesViewTemplate'))
#registerClientTemplate($embeddableOverviewFilesViewTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-overview-files.vm')
#end

#set ($embeddableOverviewDetailsViewTemplate = $core_v2_widget.UniqueId('embeddableOverviewDetailsViewTemplate'))
#registerClientTemplate($embeddableOverviewDetailsViewTemplate)
	$core_v2_widget.ExecuteFile('template-embeddable-overview-details.vm')
#end

#set ($globalSearchTemplate = $core_v2_widget.UniqueId('globalSearchTemplate'))
#registerClientTemplate($globalSearchTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search.vm')
#end

#set ($globalSearchResultTemplate = $core_v2_widget.UniqueId('globalSearchResultTemplate'))
#registerClientTemplate($globalSearchResultTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result.vm')
#end

#set ($globalSearchResultOverviewTemplate = $core_v2_widget.UniqueId('globalSearchResultOverviewTemplate'))
#registerClientTemplate($globalSearchResultOverviewTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-overview.vm')
#end

#set ($globalSearchResultLoadingTemplate = $core_v2_widget.UniqueId('globalSearchResultLoadingTemplate'))
#registerClientTemplate($globalSearchResultLoadingTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-loading.vm')
#end
