<div class="navigation-list managed-items">
	<ul class="ui-links components" data-maxlinks="0">
		<li data-type="overview" data-request="_eid=<%: Id %>&_et=overview" class="component navigation-list-item">
			<a #if ($selectedTab && $selectedTab == 'overview') data-selected #end <% if(typeof(selected) !== 'undefined' && selected === 'overview') { %> data-selected <% } %> class="component-link overview" href="$context.PanelUrl&_eid=<%: Id %>&_et=overview">$core_v2_language.GetResource('Overview')</a>
		</li>
		<% if(State != 'NotPersisted') { %>
			<li data-type="configuration" data-request="_eid=<%: Id %>&_et=configuration" class="component navigation-list-item">
				<a #if ($selectedTab && $selectedTab == 'configuration') data-selected #end <% if(typeof(selected) !== 'undefined' && selected === 'configuration') { %> data-selected <% } %> class="component-link configuration" href="$context.PanelUrl&_eid=<%: Id %>&_et=configuration">$core_v2_language.GetResource('Configuration')</a>
			</li>
			<li data-type="contentscript" data-request="_eid=<%: Id %>&_et=contentscript" class="component navigation-list-item">
				<a #if ($selectedTab && $selectedTab == 'contentscript') data-selected #end <% if(typeof(selected) !== 'undefined' && selected === 'contentscript') { %> data-selected <% } %> class="component-link contentscript" href="$context.PanelUrl&_eid=<%: Id %>&_et=contentscript">$core_v2_language.GetResource('Implementation')</a>
			</li>
			<li data-type="resources" data-request="_eid=<%: Id %>&_et=resources" class="component navigation-list-item">
				<a #if ($selectedTab && $selectedTab == 'resources') data-selected #end <% if(typeof(selected) !== 'undefined' && selected === 'resources') { %> data-selected <% } %> class="component-link resources" href="$context.PanelUrl&_eid=<%: Id %>&_et=resources">$core_v2_language.GetResource('Resources')</a>
			</li>
			<% if(typeof(Files) !== 'undefined') { %>
				<% foreach(Files, function(file){ %>
					<li data-type="file" data-file="<%: file.Name %>" data-request="_eid=<%: Id %>&_et=file&_en=<%: file.Name %>" class="component navigation-list-item">
						<a #if ($selectedTab)  <% if(file.Name == '$selectedTab') { %> data-selected <% } %> #end <% if(typeof(selected) !== 'undefined' && selected === file.Name) { %> data-selected <% } %> class="component-link <% if(file.IsEditable) { %>editable-attachment<% } else { %>non-editable-attachment<% } %>" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_eid=<%: Id %>&_et=file&_en=<%: file.Name %>"><%: file.Name %></a>
					</li>
				<% }); %>
			<% } %>
		<% } %>
		<li class="navigation-list-item">
			<a href="#" data-more class="more ui-tip hierarchy type" data-tip="More components of this embeddable">
				#if ($selectedTabName) $selectedTabName #else #end <% if(typeof(selectedTabName) !== 'undefined') { %> <%= selectedTabName %> <% } %>
			</a>
		</li>
		<li class="navigation-list-item">
			<a href="#" data-cancel>$core_v2_language.GetResource('Cancel')</a>
		</li>
	</ul>
</div>
