<% if(State != 'NotPersisted') { %>
	<h3>$core_v2_language.GetResource('Components')</h3>
	<ul class="navigation-list managed-items">
		<li class="navigation-list-item"><a class="embeddable-component-link contentscript" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_eid=<%: Id %>&_et=contentscript">$core_v2_language.GetResource('Implementation')</a></li>
		<li class="navigation-list-item"><a class="embeddable-component-link configuration" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_eid=<%: Id %>&_et=configuration">$core_v2_language.GetResource('Configuration')</a></li>
		<li class="navigation-list-item"><a class="embeddable-component-link resources" href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl)&_eid=<%: Id %>&_et=resources">$core_v2_language.GetResource('Resources')</a></li>
	</ul>
<% } %>
