<a href="#" class="upload-attachment prepend-icon camera" id="$core_v2_widget.UniqueId('upload')" style="display: none;">$core_v2_language.GetResource('StatusMessage_UploadFile')</a>
<a href="#" class="remove prepend-icon trash" id="$core_v2_widget.UniqueId('remove')" style="display: none; margin-left: 1em;">$core_v2_language.GetResource('RemoveFile')</a>