#set ($feedUrl = $core_v2_page.GetQueryStringValue('w_feedUrl'))
#set ($pageSize = $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue('w_pageSize')))

#set($user = false)
#set($user = $core_v2_user.Current)
#set($isValidUrl = false)
#set($isValidUrl = $user.RSSFeeds.Contains($feedUrl))

#if($isValidUrl)
    #set ($feedItems = $core_v2_rssFeedItem.List($feedUrl, "%{ PageSize = $pageSize }"))
    #foreach ($item in $feedItems)
    #beforeall
    	<div class="content abbreviated">
    		<div class="summary">
    			<h2 class="name">
    				<a class="external-link rss" href="$core_v2_encoding.HtmlAttributeEncode($feedUrl)">$core_v2_encoding.HtmlEncode($feedItems.Title)</a>
    			</h2>
    			<div class="content">
    				<ul>
    #each
    					<li data-href="$core_v2_encoding.HtmlAttributeEncode($item.Url)">
    						<h3 class="name">
    							<a class="external-link view-rss-item" href="$core_v2_encoding.HtmlAttributeEncode($item.Url)">
    								$core_v2_encoding.HtmlEncode($item.Title)
    							</a>
    						</h3>
    						<div>$core_v2_language.FormatAgoDate($item.Date)</div>
    					</li>
    #afterall
    				</ul>
    			</div>
    		</div>
    	</div>
    #nodata
    	<div class="content abbreviated">
    		<div class="summary">
    			<h2 class="name">
    				<a class="external-link rss" href="$core_v2_encoding.HtmlAttributeEncode($feedUrl)">$core_v2_encoding.HtmlEncode($feedUrl)</a>
    			</h2>
    		</div>
    	</div>
    #end
#else
    	<div class="content abbreviated">
    		<div class="summary">
    			    $core_v2_language.GetResource("RssFeeds_ValidationError")
    		</div>
    	</div>
#end