#if ($core_v2_page.IsPost) 
    #set($publishGroupId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('id')))
    #set($publish = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('publish')))
    #set($scheduledFileProgressKey = "articles-publishunpublishpublishgroup:${publishGroupId}:${publish}")
    
    #set($parameters = "%{}")
    $parameters.Add('PublishGroupId', $publishGroupId)
    $parameters.Add('Publish', $publish)
    
    #set ($status = $core_v2_widget.GetScheduledFileStatus($scheduledFileProgressKey))
    #if (!$status || ($status.State != 'Scheduled' && $status.State != 'Running'))
        $core_v2_widget.ScheduleFile('task-publishunpublishpublishgroup.jsm', "%{ ProgressKey = $scheduledFileProgressKey, Durable = 'True', Parameters = $parameters }")
    #end
    $core_v2_ui.ScheduledFile($scheduledFileProgressKey, "%{ IncludeProgress = 'True', IncludeAllMessages = 'False', IncludeLatestMessage = 'True' }")
    
    #if ($publish)
        #set($successMessage = $core_v2_language.GetResource('PublishGroup_PublishSuccessful'))
    #else
        #set($successMessage = $core_v2_language.GetResource('PublishGroup_UnpublishSuccessful'))
    #end
    
    <script type="text/javascript">
        jQuery.telligent.evolution.administration.on('panel.loaded', function(){
            jQuery.telligent.evolution.messaging.subscribe('scheduledFile.complete', function (data) {
    			if ('$scheduledFileProgressKey' == data.progressKey) {
    			    window.setTimeout(function() {
        			    jQuery.telligent.evolution.notifications.show('$core_v2_encoding.JavascriptEncode($successMessage)', { type: 'success' });
        			    jQuery.telligent.evolution.messaging.publish('publishgroups.saved');
        			    jQuery.telligent.evolution.administration.close();
    			    }, 1500);
    			}
    		});
        });
    </script>
#end