##
## Recursively flattens a threaded reply set
##
## Expected in scope:
##   $threadedReplies: nested array of replies
##   $flattenedReplies: empty array of replies to be populated by recursion
##   $maxIterations
##   $iterationCount
##

#if ($threadedReplies)
	#set ($iterationCount = $iterationCount + 1)
	#foreach ($threadedReply in $threadedReplies)
		#set ($addedAt = $flattenedReplies.Add($threadedReply))
		#if ($threadedReply.Children && $threadedReply.Children.Count > 0 && $iterationCount < $maxIterations)
			#set ($threadedReplies = $threadedReply.Children)
			$core_v2_widget.ExecuteFile('common-recurse-threaded.vm')
		#end
	#end
#end
