<li class="load-more <% if(previous) { %> previous <% } else { %> next <% } %>" <% if (loadInline) { %> data-inline="inline" <% } %>>
	<% if(previous) { %>
		<a class="previous" href="#" <% if (loadInline) { %> data-inline="inline" <% } %>>$core_v2_language.GetResource('load_previous') </a>
	<% } else { %>
		<a class="next" href="#" <% if (loadInline) { %> data-inline="inline" <% } %>>$core_v2_language.GetResource('load_prev') </a>
	<% } %>
	<span class="ui-loading" data-width="24" data-height="24"></span>
</li>
