<div class="threaded-filter" id="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.UniqueId('filter'))">
	<ul class="filter order margin-bottom margin-top">
		<li class="filter-option" data-sortby="CreatedDate" data-sortorder="Ascending">
			<a class="navigable" href="$core_v2_encoding.HtmlAttributeEncode('?CommentSortBy=CreatedDate&CommentSortOrder=Ascending')">$core_v2_language.GetResource('oldest')</a>
		</li>
		#if ($flattenedDepth > 0)
			<li class="filter-option" data-sortby="Votes" data-sortorder="Descending">
				<a class="navigable" href="$core_v2_encoding.HtmlAttributeEncode('?CommentSortBy=Votes&CommentSortOrder=Descending')">$core_v2_language.GetResource('best')</a>
			</li>
		#end
		<li class="filter-option" data-sortby="CreatedDate" data-sortorder="Descending">
			<a class="navigable" href="$core_v2_encoding.HtmlAttributeEncode('?CommentSortBy=CreatedDate&CommentSortOrder=Descending')">$core_v2_language.GetResource('newest')</a>
		</li>
	</ul>
</div>
