
#set ($loadMoreTemplateId = $core_v2_widget.UniqueId('loadMoreTemplate'))
#registerClientTemplate($loadMoreTemplateId)
	$core_v2_widget.ExecuteFile('template-load-more.vm')
#end

#set ($newRepliesTemplateId = $core_v2_widget.UniqueId('newRepliesTemplate'))
#registerClientTemplate($newRepliesTemplateId)
	$core_v2_widget.ExecuteFile('template-new-replies.vm')
#end

#set ($replyTemplateId = $core_v2_widget.UniqueId('replyTemplate'))
#registerClientTemplate($replyTemplateId)
	$core_v2_widget.ExecuteFile('template-reply.vm')
#end

#set ($replyFormTemplateId = $core_v2_widget.UniqueId('replyFormTemplate'))
#registerClientTemplate($replyFormTemplateId)
	$core_v2_widget.ExecuteFile('template-reply-form.vm')
#end

#set ($typingIndicatorTemplateId = $core_v2_widget.UniqueId('typingIndicatorTemplate'))
#registerClientTemplate($typingIndicatorTemplateId)
	$core_v2_widget.ExecuteFile('template-typing-indicator.vm')
#end

#set ($replyListTemplateId = $core_v2_widget.UniqueId('replyListTemplate'))
#registerClientTemplate($replyListTemplateId)
	$core_v2_widget.ExecuteFile('template-reply-list.vm')
#end

#set ($headerTemplateId = $core_v2_widget.UniqueId('headerTemplate'))
#registerClientTemplate($headerTemplateId)
	$core_v2_widget.ExecuteFile('template-sort.vm')
#end

#set ($statisticsTemplateId = $core_v2_widget.UniqueId('statisticsTemplate'))
#registerClientTemplate($statisticsTemplateId)
	$core_v2_widget.ExecuteFile('template-statistics.vm')
#end
