#set($properties = $context.GetRevertableConfigurationProperties())

#if ($properties.Count == 0)
	<p>$core_v2_language.GetResource('no-revert-options')</p>
#else
	<p>$core_v2_language.GetResource('revert-options-instructions')</p>

	<form><fieldset>

		#foreach($property in $properties)
			#beforeall
				<p class="list-description"><a href="#" class="select-all inline-button" data-type="property" data-select="all">$core_v2_language.GetResource('select-all')</a></p>
				<ul class="field-list checkbox-list">
			#each
				<li class="field-item property">
					<span class="field-item-input">
						<input type="checkbox" id="$core_v2_widget.UniqueId($core_v2_encoding.HtmlAttributeEncode($property.Id))" value="$core_v2_encoding.HtmlAttributeEncode($property.Id)" data-refresh="true" data-type="property" />
						<label for="$core_v2_widget.UniqueId($core_v2_encoding.HtmlAttributeEncode($property.Id))">$property.Title</label>
					</span>
					<span class="field-item-description">$core_v2_language.FormatString($core_v2_language.GetResource('property_description'), $property.GroupTitle)</span>
				</li>
			#afterall
				</ul>
		#end

	</fieldset></form>
#end