#set ($categoryId = $core_v2_utility.ParseGuid($core_v2_page.GetQueryStringValue("categoryId")))
#set ($endDate = $core_v2_page.GetQueryStringValue("endDate"))
#set ($startDate = $core_v2_utility.ParseDate($core_v2_page.GetQueryStringValue("startDate")))
#set ($options = "%{}")
$options.Add('StartDate', $startDate)
#if ($endDate && $endDate != '')
    #set ($endDate = $core_v2_utility.ParseDate($endDate))
    $options.Add('EndDate', $endDate)
#end

$options.Add('MachineName', $core_v2_page.GetQueryStringValue("machineName"))
$options.Add('MinFrequency', $core_v2_utility.ParseInt($core_v2_page.GetQueryStringValue("minFrequency")))
$options.Add('SearchText', $core_v2_page.GetQueryStringValue("query"))

$core_v2_page.SetContentType('application/json')

{"ExceptionTypes":[
	#foreach($type in $context_exceptions.ListTypes($options))
		#each
			{
				"Id": "$core_v2_encoding.JavascriptEncode($type.CategoryId.ToString())",
				"Name": "$core_v2_encoding.JavascriptEncode($type.Name)",
				"Preview": "$core_v2_encoding.JavascriptEncode($type.ToString())",
				#if ($type.CategoryId == $categoryId)
					"Selected": "true"
				#else
					"Selected": "false"
				#end
			}
		#between
			,
	#end
]}