#if ($core_v2_page.IsPost)
	#set ($current = '')
	#set ($current = $core_v2_page.GetFormValue('currentPassword'))
	#if(!$current || $current == '')
	    #set($token = $core_v2_page.GetFormValue('verificationContext'))
	#end
	
	#set ($new = $core_v2_page.GetFormValue('newPassword'))
	$core_v2_page.SetContentType('application/json')
	
	#if(!$token)
	    #set ($additionalInfo = $core_v2_authentication.ChangePassword($current, $new))
	#else
	    #set ($additionalInfo = $core_v2_authentication.ChangePasswordUsingToken($token, $new))
	#end

	## if there was no additional info, assume it worked.
	## Convert the success URL into non-secured version, roundtrip it back
	#if (!$additionalInfo.HasErrors())
		{
			"changed":	"true"
		}
	## otherwise, return the error code and a url to display the error code
	#else
		$core_v2_page.SendJsonError($additionalInfo.Errors)
	#end
#end