#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

  #set($themeId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('ThemeId')))

  #set($response = $context.SetStagedTheme($themeId))
	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

  {"success":true}

#end
