#set($searchTerm = $core_v2_widget.GetStringValue('SearchTerm', 'Sample'))
#set($sort = $core_v2_widget.GetStringValue('SortBy', 'date desc'))
#set($pageSize = $core_v2_widget.GetIntValue('NumResults', 5))
#set($pageIndex = $core_v2_ui.GetCurrentPageIndex())

#set($query = "%{PageIndex = $pageIndex, PageSize = $pageSize, Query = $searchTerm, Sort = $sort}")

#set ($filters = "")
#set($contentTypeIds = $core_v2_widget.GetCustomValue('IncludeContentTypeIds', 'all'))
#if ($contentTypeIds != 'all')
    #set ($filters = "${filters}contenttypeid::(")
    #set($first = true)
	#foreach($v in $core_v2_page.ParseQueryString($contentTypeIds).Values('ContentTypeId'))
    #each
        #if ($first)
            #set($filters = "${filters}${core_v2_utility.ParseGuid($v)}")
            #set($first = false)
        #else
            #set($filters = "${filters} OR ${core_v2_utility.ParseGuid($v)}")
        #end
    #nodata
        #set($filters="${filters}00000000-0000-0000-0000-000000000000")
    #end
    #set($filters = "$filters)")
#end

#set ($groupId = false)
#set ($groupId = $core_v2_utility.ParseInt($core_v2_page.ParseQueryString($core_v2_widget.GetCustomValue('Groups','')).Value('Group')))
#if ($groupId <= 0)
	#set ($current = false)
	#set ($currentGroup = $core_v2_group.Current)
	#if ($currentGroup)
		#set ($groupId = $currentGroup.Id)
	#end
#end
#set ($includeSubGroups = $core_v2_widget.GetBoolValue('IncludeSubGroups',false))
#if ($groupId)
	#if ($filters.Length > 0)
		#set ($filters = "${filters}||")
	#end
	#set ($filters = "${filters}group::${groupId}")
	#if ($includeSubGroups)
		#set ($subGroups = $core_v2_group.List("%{ IncludeAllSubGroups = 'true', PageSize = 50, ParentGroupId = $groupId, Permission = 'Group_ReadGroup' }"))
		#foreach ($subGroup in $subGroups)
			#set ($filters = "${filters},${subGroup.Id}")
		#end
	#end
#end

#if ($filters.Length > 0)
	$query.Add('Filters', $filters)
#end

#set($searchResults = $core_v2_searchResult.List($query))
#if (!$searchResults || $searchResults.HasErrors())
	$core_v2_widget.Hide()
#end

#foreach($searchResult in $searchResults)
#beforeall
	<ul class="content-list content margin-bottom">
#each
    #set ($resultHtml = false)
	#set ($resultHtml = $searchResult.ViewHtml())
	#if ($resultHtml)
		<li class="content-item" #if ($searchResult.Url) data-href="$core_v2_encoding.HtmlAttributeEncode($searchResult.Url)" #end>$resultHtml</li>
	#end
#afterall
	</ul>
#end

#if($core_v2_widget.GetBoolValue('EnablePaging', true))
	$core_v2_ui.Pager($searchResults.PageIndex, $searchResults.PageSize, $searchResults.TotalCount, "%{ PagedContentFile = 'list.vm', LoadingIndicator = 'true' }")
#end