#foreach ($featuredContent in $contentFeatures)
	#set ($feature = "%{}")
	$feature.Add('Title', $featuredContent.Title)
	$feature.Add('Description', $featuredContent.Description)
	$feature.Add('Url', $featuredContent.Url)
	#if ($featuredContent.Image.Length > 0)
		$feature.Add('DesignMode', 'photo')
		$feature.Add('Image', $featuredContent.Image)
		$feature.Add('Background', '#AAA')
		$feature.Add('Background2', '#AAA')
		$feature.Add('Foreground', '#FFF')
	#elseif ($featuredContent.Content.AvatarUrl.Length > 0)
		$feature.Add('DesignMode', 'photo')
		$feature.Add('Image', $featuredContent.Content.AvatarUrl)
		$feature.Add('Background', '#AAA')
		$feature.Add('Background2', '#AAA')
		$feature.Add('Foreground', '#FFF')
	#else
		$feature.Add('DesignMode', $defaultFeatureDesignMode)
		$feature.Add('Image', $defaultFeatureImage)
		$feature.Add('Background', $defaultFeatureBackground)
		$feature.Add('Background2', $defaultFeatureBackground2)
		$feature.Add('Foreground', $defaultFeatureForeground)
	#end
	$feature.Add('Shadow', $defaultFeatureShadowText)
	$feature.Add('Blur', $defaultFeatureBlur)
	$feature.Add('ColorMode', $defaultFeatureColorMode)
	#if ($featuredContent.User)
		$feature.Add('UserAvatarUrl', $featuredContent.User.AvatarUrl)
		$feature.Add('UserProfileUrl', $!featuredContent.User.ProfileUrl)
		$feature.Add('UserDisplayName', $featuredContent.User.DisplayName)
	#end
	$feature.Add('Type', 'Feature')
	$core_v2_widget.ExecuteFile('render.vm')
#end