$core_v2_widget.ExecuteFile('full-parse-options.vm')

#set ($current = $context.GetAggregate($options))
#set ($trend = $context.GetTrend($options))

#if(!$current.HasErrors())
    <div class="report-summary">
    <div class="total">$current.Aggregate.ToString("N0")</div>
    $reporting_ui.TrendHtml($trend)
    </div>
#else
    <div class="report-summary">
        <div class="message error norecords">
            $core_v2_language.GetResource("Error")
        </div>
    </div>
#end