#set ($downIconArrowUrlLight = $core_v2_widget.GetFileUrl('iconarrowlight.svg'))
#set ($downIconArrowUrlDark = $core_v2_widget.GetFileUrl('iconarrowdark.svg'))
#set ($downIconArrowUrlBlue = $core_v2_widget.GetFileUrl('iconarrowblue.svg'))
#set ($dotsIconUrlLight = $core_v2_widget.GetFileUrl('icondotslight.svg'))
#set ($dotsIconUrlDark = $core_v2_widget.GetFileUrl('icondotsdark.svg'))
#set ($dotsIconUrlBlue = $core_v2_widget.GetFileUrl('icondotsblue.svg'))
#set ($editIconUrlLight = $core_v2_widget.GetFileUrl('iconeditlight.svg'))
#set ($editIconUrlDark = $core_v2_widget.GetFileUrl('iconeditdark.svg'))
#set ($attachmentIconUrlDark = $core_v2_widget.GetFileUrl('iconattachmentdark.svg'))
#set ($browserIconUrlDark = $core_v2_widget.GetFileUrl('iconbrowserdark.svg'))
#set ($codeIconUrlDark = $core_v2_widget.GetFileUrl('iconcodedark.svg'))
#set ($cogIconUrlDark = $core_v2_widget.GetFileUrl('iconcogdark.svg'))
#set ($languageIconUrlDark = $core_v2_widget.GetFileUrl('iconlanguagedark.svg'))
#set ($paletteIconUrlDark = $core_v2_widget.GetFileUrl('iconpalettedark.svg'))
#set ($actionIconUrlDark = $core_v2_widget.GetFileUrl('iconactiondark.svg'))
#set ($helpIconUrlDark = $core_v2_widget.GetFileUrl('iconhelpdark.svg'))
#set ($uploadIconUrlDark = $core_v2_widget.GetFileUrl('iconuploaddark.svg'))

#set ($plusIconUrlDark = $core_v2_widget.GetFileUrl('iconplusdark.svg'))
#set ($squaredPlusIconUrlDark = $core_v2_widget.GetFileUrl('iconsquaredplusdark.svg'))
#set ($checkIconUrlDark = $core_v2_widget.GetFileUrl('iconcheckdark.svg'))

#set ($pinIconUrlDark = $core_v2_widget.GetFileUrl('iconpindark.svg'))
#set ($pinIconUrlLight = $core_v2_widget.GetFileUrl('iconpinlight.svg'))

#set ($glassIconUrlDark = $core_v2_widget.GetFileUrl('iconglassdark.svg'))
#set ($glassIconUrlLight = $core_v2_widget.GetFileUrl('iconglasslight.svg'))

<style>

.management-studio .node-actions a {
	background-image: url('$core_v2_encoding.UriEscape(${dotsIconUrlDark})');
}

.administration-panel.management-studio .editor-content.overview .managed-items .navigation-list-item .managed-item-link.configuration::before,
.studio-shell.browse .navigation-list li.managed-item .managed-item.configuration::before {
	background-image: url('$core_v2_encoding.UriEscape(${cogIconUrlDark})');
}
.administration-panel.management-studio .editor-content.overview .managed-items .navigation-list-item .managed-item-link.content::before,
.studio-shell.browse .navigation-list li.managed-item .managed-item.content::before {
	background-image: url('$core_v2_encoding.UriEscape(${codeIconUrlDark})');
}
.administration-panel.management-studio .editor-content.overview .managed-items .navigation-list-item .managed-item-link.header::before,
.studio-shell.browse .navigation-list li.managed-item .managed-item.header::before {
	background-image: url('$core_v2_encoding.UriEscape(${browserIconUrlDark})');
}
.administration-panel.management-studio .editor-content.overview .managed-items .navigation-list-item .managed-item-link.css::before,
.studio-shell.browse .navigation-list li.managed-item .managed-item.css::before {
	background-image: url('$core_v2_encoding.UriEscape(${paletteIconUrlDark})');
}
.administration-panel.management-studio .editor-content.overview .managed-items .navigation-list-item .managed-item-link.resources::before,
.studio-shell.browse .navigation-list li.managed-item .managed-item.resources::before {
	background-image: url('$core_v2_encoding.UriEscape(${languageIconUrlDark})');
}
.administration-panel.management-studio .editor-content.overview .managed-items .navigation-list-item .managed-item-link.attachment::before,
.studio-shell.browse .navigation-list li.managed-item .managed-item.non-editable-attachment::before {
	background-image: url('$core_v2_encoding.UriEscape(${attachmentIconUrlDark})');
}
.studio-shell.browse .navigation-list li.managed-item .managed-item.editable-attachment::before {
	background-image: url('$core_v2_encoding.UriEscape(${codeIconUrlDark})');
}
.studio-shell.browse .browse-header-wrapper .browse-actions .new::after {
	background-image: url('$core_v2_encoding.UriEscape(${squaredPlusIconUrlDark})');
}
.studio-shell.browse .browse-header-wrapper .browse-actions .select::after {
	background-image: url('$core_v2_encoding.UriEscape(${checkIconUrlDark})');
}
.studio-shell.browse .browse-header-wrapper .browse-actions .import::after {
	background-image: url('$core_v2_encoding.UriEscape(${uploadIconUrlDark})');
}
.studio-shell.browse .browse-header-wrapper .browse-actions .settings::after {
	background-image: url('$core_v2_encoding.UriEscape(${cogIconUrlDark})');
}

.administration-panel.management-studio .editor-header .managed-items .more::before {
	background-image: url('$core_v2_encoding.UriEscape(${downIconArrowUrlDark})');
}
.administration-panel.management-studio .editor-header .managed-items .more:hover::before, .administration-panel.management-studio .editor-header .managed-items .more.links-expanded::before {
	background-image: url('$core_v2_encoding.UriEscape(${downIconArrowUrlBlue})');
}
.administration-panel.management-studio .editor-header .node-actions-more::before {
	background-image: url('$core_v2_encoding.UriEscape(${dotsIconUrlBlue})');
}
.administration-panel.management-studio .editor-header .node-actions-more:hover::before, .administration-panel.management-studio .editor-header .node-actions-more.links-expanded::before {
	background-image: url('$core_v2_encoding.UriEscape(${dotsIconUrlLight})');
}

</style>
