$shell.RenderShellTemplates()

#set ($browseHeaderTemplate = $core_v2_widget.UniqueId('browseHeaderTemplate'))
#registerClientTemplate($browseHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-browse-header.vm')
#end

#set ($browseViewItemTemplate = $core_v2_widget.UniqueId('browseViewItemTemplate'))
#registerClientTemplate($browseViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-browse-view-item.vm')
#end



#set ($selectProviderTemplate = $core_v2_widget.UniqueId('selectProviderTemplate'))
#registerClientTemplate($selectProviderTemplate)
	$core_v2_widget.ExecuteFile('template-select-provider.vm')
#end

#set ($tabViewItemTemplate = $core_v2_widget.UniqueId('tabViewItemTemplate'))
#registerClientTemplate($tabViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-tab-view-item.vm')
#end

#set ($fragmentEditableAttachmentHeaderTemplate = $core_v2_widget.UniqueId('fragmentEditableAttachmentHeaderTemplate'))
#registerClientTemplate($fragmentEditableAttachmentHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-editable-attachment-header.vm')
#end

#set ($fragmentEditorHeaderTemplate = $core_v2_widget.UniqueId('fragmentEditorHeaderTemplate'))
#registerClientTemplate($fragmentEditorHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-editor-header.vm')
#end

#set ($fragmentNonEditableFileViewExampleTemplate = $core_v2_widget.UniqueId('fragmentNonEditableFileViewExampleTemplate'))
#registerClientTemplate($fragmentNonEditableFileViewExampleTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-non-editable-attachment-example.vm')
#end

#set ($fragmentNonEditableFileViewHeaderTemplate = $core_v2_widget.UniqueId('fragmentNonEditableFileViewHeaderTemplate'))
#registerClientTemplate($fragmentNonEditableFileViewHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-non-editable-attachment-header.vm')
#end

#set ($fragmentOverviewViewTemplate = $core_v2_widget.UniqueId('fragmentOverviewViewTemplate'))
#registerClientTemplate($fragmentOverviewViewTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-overview.vm')
#end

#set ($fragmentOverviewViewDetailsTemplate = $core_v2_widget.UniqueId('fragmentOverviewViewDetailsTemplate'))
#registerClientTemplate($fragmentOverviewViewDetailsTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-overview-details.vm')
#end

#set ($fragmentActionsTemplate = $core_v2_widget.UniqueId('fragmentActionsTemplate'))
#registerClientTemplate($fragmentActionsTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-actions.vm')
#end

#set ($fragmentEditorStateTemplate = $core_v2_widget.UniqueId('fragmentEditorStateTemplate'))
#registerClientTemplate($fragmentEditorStateTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-editor-state.vm')
#end

#set ($fragmentEditorComponentsTemplate = $core_v2_widget.UniqueId('fragmentEditorComponentsTemplate'))
#registerClientTemplate($fragmentEditorComponentsTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-components.vm')
#end

#set ($fragmentOverviewComponentsViewTemplate = $core_v2_widget.UniqueId('fragmentOverviewComponentsViewTemplate'))
#registerClientTemplate($fragmentOverviewComponentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-overview-components.vm')
#end

#set ($fragmentOverviewVersionsViewTemplate = $core_v2_widget.UniqueId('fragmentOverviewVersionsViewTemplate'))
#registerClientTemplate($fragmentOverviewVersionsViewTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-overview-versions.vm')
#end

#set ($fragmentOverviewAttachmentsViewTemplate = $core_v2_widget.UniqueId('fragmentOverviewAttachmentsViewTemplate'))
#registerClientTemplate($fragmentOverviewAttachmentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-fragment-overview-attachments.vm')
#end

#set ($selectThemeTemplate = $core_v2_widget.UniqueId('selectThemeTemplate'))
#registerClientTemplate($selectThemeTemplate)
	$core_v2_widget.ExecuteFile('template-select-theme.vm')
#end

#set ($importSelectorTemplate = $core_v2_widget.UniqueId('importSelectorTemplate'))
#registerClientTemplate($importSelectorTemplate)
	$core_v2_widget.ExecuteFile('template-import-selector.vm')
#end

#set ($panelWrapperTemplate = $core_v2_widget.UniqueId('panelWrapperTemplate'))
#registerClientTemplate($panelWrapperTemplate)
	$core_v2_widget.ExecuteFile('template-panel-wrapper.vm')
#end

#set ($globalSearchTemplate = $core_v2_widget.UniqueId('globalSearchTemplate'))
#registerClientTemplate($globalSearchTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search.vm')
#end

#set ($globalSearchResultTemplate = $core_v2_widget.UniqueId('globalSearchResultTemplate'))
#registerClientTemplate($globalSearchResultTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result.vm')
#end

#set ($globalSearchResultOverviewTemplate = $core_v2_widget.UniqueId('globalSearchResultOverviewTemplate'))
#registerClientTemplate($globalSearchResultOverviewTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-overview.vm')
#end

#set ($globalSearchResultLoadingTemplate = $core_v2_widget.UniqueId('globalSearchResultLoadingTemplate'))
#registerClientTemplate($globalSearchResultLoadingTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-loading.vm')
#end

#set ($stagingItemTemplate = 'studioShell-stagingItem')
#registerClientTemplate($stagingItemTemplate)
	$core_v2_widget.ExecuteFile('template-staging-item.vm')
#end
