<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
    <add name="SiteSqlServer" connectionString="server=TR-C919XD3;Trusted_Connection=no;database=DevCommunityLocal;uid=DevCommunity;pwd=$Admin#11" />
    <add name="Reporting" connectionString="server=TR-C919XD3;Trusted_Connection=no;database=ReportingETLDB;uid=DevCommunity;pwd=$Admin#11"/>
</connectionStrings>
