#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($pageId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('PageId')))
	#set($publish = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('Publish')))

	#set($response = $core_v2_wikiPage.Update($pageId, "%{IsPublished = $publish}"))

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}

#end
