$core_v2_page.SetContentType('application/json')

#set($reviewableContentId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('ReviewableContentId')))

#set($response = $context.PublishReviewableContent($reviewableContentId))
#if ($response.HasErrors())
    $core_v2_page.SendJsonError($response.Errors)
#else
    {
        "success": true
    }
#end