#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')
	#set ($contentId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('ContentId')))
	#set ($contentTypeId = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('ContentTypeId')))

	#set ($appeal = false)
	#set ($appeal = $core_v2_abusiveContent.Ignore($contentId, $contentTypeId))
	#if ($appeal)
		{"success":true}
	#else
		{"success":false}
	#end
#end
