#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($stage = false)
	#set($stage = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('stage')))

    #set($defaultPalettes = false)
    #set($defaultPalettes = $core_v2_page.ParseQueryString($core_v2_page.GetFormValue('defaultPalettes')))

    #if ($defaultPalettes)
		#set($response = $context.SaveDefaultPaletteConfiguration($defaultPalettes, $stage))
		#if ($response.HasErrors())
			$core_v2_page.SendJsonError($response.Errors)
		#end
	#end

	{
		"success":true
	}
#end
