<ul>
	<li>
		<a href="https://community.telligent.com/r?BB" target="_blank">$core_v2_language.GetResource('GettingStarted')</a>
	</li>
	<li>
		<a href="#" class="documentation-link" data-type="index" data-name="index" data-target="velocity">$core_v2_language.GetResource('WidgetApis')</a>
	</li>
	<li>
		<a href="#" class="documentation-link" data-type="index" data-name="index" data-target="rest">$core_v2_language.GetResource('RestApis')</a>
	</li>
	<li>
		<a href="#" class="documentation-link" data-type="index" data-name="index" data-target="less">$core_v2_language.GetResource('LessFunctions')</a>
	</li>
	<li>
		<a href="#" class="documentation-link" data-type="index" data-name="index" data-target="template">$core_v2_language.GetResource('PropertyTemplates')</a>
	</li>
	<li>
		<a href="#" class="documentation-link" data-type="index" data-name="index" data-target="rule">$core_v2_language.GetResource('PropertyRules')</a>
	</li>
	#if ($includeAutomationEvents)
		<li>
			<a href="#" class="documentation-link" data-type="index" data-name="index" data-target="events">$core_v2_language.GetResource('AutomationEvents')</a>
		</li>
	#end
	<li>
		<a href="#" data-name="dynamic_configuration" data-type="static" class="documentation-link">$core_v2_language.GetResource('dynamic_configuration_title')</a>
	</li>
	<li>
		<a href="#" data-name="palette_definition" data-type="static" class="documentation-link">$core_v2_language.GetResource('palette_definition_title')</a>
	</li>
	<li>
		<a href="#" data-name="velocity_scripting" data-type="static" class="documentation-link">$core_v2_language.GetResource('velocity_scripting_title')</a>
	</li>
</ul>
