##
## Renders a signature of a property rule
##
## Requires in scope:
##   $propertyRule
##

#set ($optionsAttributes = "")
#set ($dq = '"')
#foreach ($option in $propertyRule.Options)
	#set ($optionsAttributes = "${optionsAttributes} ${option.Name}=${dq}${option.Default}${dq}")
#end
name="${propertyRule.Name}"$optionsAttributes