##
## Rendered API Type Callback
##

#set ($fragmentId = false)
#set ($fragmentIdQuery = $core_v2_page.GetQueryStringValue("_w_fragmentId"))
#if ($fragmentIdQuery && $fragmentIdQuery.length > 0)
	#set ($fragmentId = $core_v2_utility.ParseGuid($fragmentIdQuery))
#end

#set ($includeAutomationEvents = false)
#set ($includeAutomationEventsQuery = $core_v2_page.GetQueryStringValue("_w_includeAutomationEvents"))
#if ($includeAutomationEventsQuery)
	#set ($includeAutomationEvents = $core_v2_utility.ParseBool($includeAutomationEventsQuery))
#end

#if ($fragmentId)
	#set ($extensions = $shellApi.ListAllExtensions($fragmentId))
	#set ($lessFunctions = $shellApi.ListAllFunctions('Widget'))
#else
	#set ($extensions = $shellApi.ListAllExtensions(true))
	#set ($lessFunctions = $shellApi.ListAllFunctions('Theme'))
#end

#set ($propertyTemplates = $shellApi.ListAllPropertyTemplates())
#set ($propertyRules = $shellApi.ListAllPropertyRules())
#set ($restResources = $shellApi.ListAllRestResources())

#set ($automationEvents = $shellApi.ListAllExtensions('AutomationEvent'))

$core_v2_page.SetContentType('application/json')
{
	"select": "$core_v2_encoding.JavascriptEncode($core_v2_widget.ExecuteFile('callback-sub-render-api-extensions-select.vm'))",
	"general": "$core_v2_encoding.JavascriptEncode($core_v2_widget.ExecuteFile('callback-sub-render-api-extensions-general.vm'))",
	"index": "$core_v2_encoding.JavascriptEncode($core_v2_widget.ExecuteFile('callback-sub-render-api-extensions-index.vm'))"
}
