##
## Renders an autocomplete caption description of property rule
##
## Requires in scope:
##   $propertyRule
##

<div class="suggestion_details">
	#if ($propertyRule.Description)
		<div class="description">$propertyRule.Description</div>
	#end

	#foreach ($option in $propertyRule.Options)
	#beforeall
		<span class="label">$core_v2_language.GetResource('Parameters')</span>
		<ul class="parameters">
	#each
			<li>
				<span class="name">${option.Name}</span>
			</li>
	#afterall
		</ul>
	#end

	<span class="mfw suggestion view_docs" onclick="jQuery.telligent.evolution.messaging.publish('studio.view.documentation.show', { target: this, elm: this });"
		data-type="extension"
		data-name="$core_v2_encoding.HtmlAttributeEncode($propertyRule.Name)"
		data-mode="rule">$core_v2_language.GetResource('ViewDocumentation')</span>
	<span class="view_doc_shortcut">$core_v2_language.GetResource('ViewDocShortcut')</span>

</div>

