##
## Default editor view components template
## To be overridden in specific studio
##
## Expects in scope:
## nothing in particular... whatever the studio-specific model includes
##
<div class="navigation-list managed-items">
	<ul class="ui-links components" data-maxlinks="0">
		<li class="navigation-list-item">
			<a href="#" data-messagename="stub-message-component-a">Stub Component A</a>
		</li>
		<li class="navigation-list-item">
			<a href="#" data-messagename="stub-message-component-b">Stub Component B</a>
		</li>
		<li class="navigation-list-item">
			<a href="#" data-more>More</a>
		</li>
		<li class="navigation-list-item">
			<a href="#" data-cancel>Cancel</a>
		</li>
	</ul>
</div>
