##
## Default generic file viewer view template
## Can be overridden in specific studio, but usually not needed
##
## Expects in scope:
##    Url
##    requestkey
##    extension
##
## Should expose elements with class names:
##    template-editor-header
##    template-editor-state
##    template-editor-example
##
<div class="editor-header">
	<form class="template-editor-header"></form>
	<div class="editor-state template-editor-state"></div>
</div>
<div class="editor-content">
	<div class="attachment-preview">
		<div class="ui-viewhtml" data-url="<%: Url %>"></div>
	</div>
	<div class="template-editor-example"></div>
</div>
