<div class="studio-shell browse">
	<div class="browse-header-wrapper">
		<div class="navigation-list browse-actions ui-links" data-direction="horizontal" data-minlinks="5" data-maxlinks="5">
			<ul>
				<li class="navigation-list-item">
					<a href="#" class="collapse collapse-nav ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('ToggleNav'))">C</a>
				</li>

				<li class="navigation-list-item" data-more>
					<a href="#" class="more ui-tip" data-tip="Actions" data-more>$core_v2_language.GetResource('Actions')</a>
				</li>
				<li class="navigation-list-item" data-cancel>
					<a href="#" data-cancel>$core_v2_language.GetResource('Cancel')</a>
				</li>
			</ul>
		</div>
		<div class="browse-header"></div>
		<div class="search-header">
			<input type="text" placeholder="<% if (searchPlaceholder !== null) { %><%: searchPlaceholder %><% } else { %>$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Search'))<% } %>" class="query" />
		</div>
	</div>
	<div class="browse-tree">
		<ul class="navigation-list">
		</ul>
	</div>
</div>
