<ul>
	<li>
		<a href="#" data-messagename="studio.tablistview.close" data-key="<%: key %>">$core_v2_language.GetResource('CloseTab')</a>
	</li>
	<li>
		<a href="#" data-messagename="studio.tablistview.isolate" data-key="<%: key %>">$core_v2_language.GetResource('CloseOtherTabs')</a>
	</li>
</ul>
