## Documentation Wrapper Template
<div class="documentation">
	<div class="documentation-master">
		<div class="documentation-form"></div>
		<div class="documentation-index"></div>
	</div>
	<div class="documentation-detail">
		<div class="documentation-breadcrumbs">
			<a href="#" class="documentation-link" data-type="index" data-name="index">$core_v2_language.GetResource('ExtensionIndex')</a>
		</div>
		<div class="documentation-content"></div>
	</div>
</div>
