## General

#registerClientTemplate('studioShell-editViewWrapper')
	$core_v2_widget.ExecuteFile('template-edit-view-wrapper.vm')
#end

## Browse View

#registerClientTemplate('studioShell-browseWrapper')
	$core_v2_widget.ExecuteFile('template-browse-wrapper.vm')
#end

#registerClientTemplate('studioShell-browseTree')
	$core_v2_widget.ExecuteFile('template-browse-tree.vm')
#end

#registerClientTemplate('studioShell-browseTreeNode')
	$core_v2_widget.ExecuteFile('template-browse-tree-node.vm')
#end

#registerClientTemplate('studioShell-browseTreeNode')
	$core_v2_widget.ExecuteFile('template-browse-tree-node-label.vm')
#end

#registerClientTemplate('studioShell-browseMultiSelectOptions')
	$core_v2_widget.ExecuteFile('template-browse-multiselect-options.vm')
#end

#registerClientTemplate('studioShell-browseStudioLinks')
	$core_v2_widget.ExecuteFile('template-browse-header-links.vm')
#end

## Tab List

#registerClientTemplate('studioShell-tabListWrapper')
	$core_v2_widget.ExecuteFile('template-tab-list-wrapper.vm')
#end

#registerClientTemplate('studioShell-tabListItemWrapper')
	$core_v2_widget.ExecuteFile('template-tab-list-item-wrapper.vm')
#end

#registerClientTemplate('studioShell-tabListActions')
	$core_v2_widget.ExecuteFile('template-tab-list-actions.vm')
#end

#registerClientTemplate('studioShell-tabListItem')
	$core_v2_widget.ExecuteFile('template-tab-list-item.vm')
#end

## Staging

#registerClientTemplate('studioShell-staging')
	$core_v2_widget.ExecuteFile('template-staging.vm')
#end

#registerClientTemplate('studioShell-stagingItem')
	$core_v2_widget.ExecuteFile('template-staging-item.vm')
#end

## Dock

#registerClientTemplate('studioShell-dockWrapper')
	$core_v2_widget.ExecuteFile('template-dock-wrapper.vm')
#end

#registerClientTemplate('studioShell-dockTab')
	$core_v2_widget.ExecuteFile('template-dock-tab.vm')
#end

#registerClientTemplate('studioShell-dock')
	$core_v2_widget.ExecuteFile('template-dock.vm')
#end

## Tab Switch

#registerClientTemplate('studioShell-tabSwitch')
	$core_v2_widget.ExecuteFile('template-tab-switch.vm')
#end

## StudioSettings

#registerClientTemplate('studioShell-settings')
	$core_v2_widget.ExecuteFile('template-settings.vm')
#end

## Shared

#registerClientTemplate('studioShell-stagedIndicator')
	$core_v2_widget.ExecuteFile('template-staged-indicator.vm')
#end

## Console Dock

#registerClientTemplate('studioShell-scriptConsole')
	$core_v2_widget.ExecuteFile('template-dock-view-script-console.vm')
#end

#registerClientTemplate('studioShell-scriptConsoleLogEntry')
	$core_v2_widget.ExecuteFile('template-dock-view-script-console-log-entry.vm')
#end

## Documentation Dock

#registerClientTemplate('studioShell-documentation')
	$core_v2_widget.ExecuteFile('template-dock-view-documentation.vm')
#end

#registerClientTemplate('studioShell-documentationBreadcrumb')
	$core_v2_widget.ExecuteFile('template-dock-view-documentation-breadcrumb.vm')
#end

## Generic Editor Views

#registerClientTemplate('studioShell-editorActions')
	$core_v2_widget.ExecuteFile('template-editor-actions.vm')
#end

#registerClientTemplate('studioShell-editorHeader')
	$core_v2_widget.ExecuteFile('template-editor-header.vm')
#end

#registerClientTemplate('studioShell-editorState')
	$core_v2_widget.ExecuteFile('template-editor-state.vm')
#end

#registerClientTemplate('studioShell-editorComponents')
	$core_v2_widget.ExecuteFile('template-editor-components.vm')
#end

#registerClientTemplate('studioShell-editorGenericCode')
	$core_v2_widget.ExecuteFile('template-editor-generic-code.vm')
#end

#registerClientTemplate('studioShell-editorGenericFileViewer')
	$core_v2_widget.ExecuteFile('template-editor-file-viewer.vm')
#end

#registerClientTemplate('studioShell-editorResources')
	$core_v2_widget.ExecuteFile('template-editor-resources.vm')
#end

#registerClientTemplate('studioShell-editorResourcesEmptyResource')
	$core_v2_widget.ExecuteFile('template-editor-resources-empty.vm')
#end

#registerClientTemplate('studioShell-editorResourcesDiff')
	$core_v2_widget.ExecuteFile('template-editor-resources-diff.vm')
#end
