##
## Default Tab Item Template
## To be overridden in specific studio
##
<span class="primary-name">
	<%= template('studioShell-stagedIndicator') %>
	Primary Name
</span>
<span class="sub-name attachment">Secondary Name</span>
