<li class="attribute-item resource" data-language="<%: language %>">
	<span class="attribute-name">
		<input type="text" value="" data-focusname="<%: focusName %>-name" placeholder="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Name'))" />
	</span>
	<span class="attribute-value">
		<input type="text" value="" data-focusname="<%: focusName %>-value" placeholder="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Value'))" />
	</span>
	<a href="#" class="delete">$core_v2_language.GetResource('Delete')</a>
</li>
