## Shell Console Log Entry Template
<li class="script-console-log-entry <%: type %>">
	<div class="script-console-log-entry-details">
		<span class="script-console-log-entry-date"><%= date %></span>
		<span class="script-console-log-entry-mode"><%: mode %></span>
		<a href="#" class="script-console-view rendered selected ui-tip" data-type="rendered" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('ViewRendered'))">$core_v2_language.GetResource('Rendered')</a>
		<a href="#" class="script-console-view raw ui-tip" data-type="raw" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('ViewRaw'))">$core_v2_language.GetResource('Raw')</a>
		<a href="#" class="script-console-log-entry-input-copy ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('ReRun'))">$core_v2_language.GetResource('Copy')</a>
	</div>
	<div class="script-console-log-entry-input"><%: input %></div>
	<div class="script-console-log-entry-output rendered"><%= output %></div>
	<div class="script-console-log-entry-output raw" style="display:none"><%: output %></div>
</li>