<div class="tab" data-messagename="studio.tablistview.select" data-key="<%: key %>">
	<div class="tab-content">
		<%= content %>
	</div>
	<a href="#" class="close ui-tip" data-messagename="studio.tablistview.close" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Close'))" data-request="<%: key %>" data-key="<%: key %>">&times;</a>
	<a href="#" class="actions" data-messagename="studio.tablistview.actions" data-request="<%: key %>" data-key="<%: key %>">$core_v2_language.GetResource('Actions')</a>
</div>
