<span class="dock-view-tab">
	<a class="dock-view-tab-name ui-tip" href="#"
		data-tabid="<%: tabId %>"
		data-tip="test"
		data-tip-opened="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Close')) <%: tabName %>"
		data-tip-not-opened="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('View')) <%: tabName %>">
		<%: tabName %>
	</a>
</span>
