<div class="edit-view-wrapper">
	<div class="save-state">
		<span class="saved ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('ChangesSavedAutomatically'))" style="display:none">$core_v2_language.GetResource('AllSaved')</span>
		<span class="not-saved" style="display:none">$core_v2_language.GetResource('SavingChanges')</span>
		<span class="queued" style="display:none">$core_v2_language.GetResource('ChangesQueued')</span>
	</div>
	<div class="views">
	</div>
</div>
