## Shell Console Wrapper Template
<div class="script-console-wrapper">
	<div class="script-console-input">
		<form>
			<textarea class="script-console-content"></textarea>
		</form>
		<div class="script-console-controls">
			<select class="script-console-language">
				<option value="velocity">Velocity</option>
				<option value="javascript">JavaScript</option>
			</select>
			<a href="#" class="script-console-submit ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('EvaluateTip'))">$core_v2_language.GetResource('Run')</a>
		</div>
	</div>
	<div class="script-console-output">
		<ul class="script-console-log-entries"></ul>
	</div>
	<a href="#" class="script-console-clear">$core_v2_language.GetResource('Clear')</textarea>
</div>
