<div class="studio-shell tab-list">
	<ul class="ui-links tabs" data-direction="horizontal">
		<li class="navigation-list-item">
			<a href="#" class="more" data-more>
				<span class="count">
					<span class="badge" data-count="0">0</span>
				</span>
				<span class="handle ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('More'))" >$core_v2_language.GetResource('More')</span>
			</a>
		</li>
		<li class="navigation-list-item">
			<a href="#" class="cancel" data-cancel>
				$core_v2_language.GetResource('Cancel')
			</a>
		</li>
	</ul>
</div>