##
## Default staged item template
## To be overridden in specific studio
##
## Expects in scope:
## staged item, whatever properties that model haas
##
<li style="position: relative" class="staged-item">
	$core_v2_language.GetResource('StagedItem')
</li>