<% if(link == 'new') { %>
	<a href="#" class="new ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('New'))" data-messagename="studio.view.new" style="width: 100px">$core_v2_language.GetResource('New')</a>
<% } else if(link == 'import') { %>
	<a href="#" class="import ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Import'))" data-messagename="studio.view.import">$core_v2_language.GetResource('Import')</a>
<% } else if(link == 'select') { %>
	<a href="#" class="select ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('SelectMultiple'))" data-messagename="studio.view.multiselect" style="width: 100px">$core_v2_language.GetResource('SelectMultiple')</a>
<% } else if(link == 'settings') { %>
	<a href="#" class="settings ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Settings'))" data-messagename="studio.view.settings">$core_v2_language.GetResource('Settings')</a>
<% } %>
