##
## Default Tree Node Label Implementation
## Intended to be overriden by shell-specific use
##
## In scope: at least the following
##
##    node
## 		key
## 		label
## 		cssClass
##
## Shell-specific use case can provide extra properties and render them as necessary in its override of this template
##
<span class="<%: node.cssClass %>"><%: node.label %></span>