<div class="selectoptions">
	<ul class="navigation-list">
		<li class="navigation-list-item">
			<a href="#" class="select-all">$core_v2_language.GetResource('SelectAll')</span></a>
		</li>
		<li class="navigation-list-item">
			<a href="#" class="de-select-all">$core_v2_language.GetResource('DeselectAll')</span></a>
		</li>
		<% foreach(actions, function(action){ %>
			<li class="navigation-list-item">
				<a href="#" class="multiselect-action" data-multiselect-messagename="<%: action.message %>"><%: action.label %> <span class="selection_count"></span></a>
			</li>
		<% }); %>
	</ul>
</div>