<ul class="studio-shell navigation-list recent-tabs">
	<% foreach(tabs, function(tab){ %>
		<li class="recent-tab" data-key="<%: tab.key %>">
			<div><%= tab.content %></div>
		</li>
	<% }); %>
</ul>
