<div class="studio-shell dock-view-wrapper">
	<div class="dock-pin-wrapper">
		<span class="dock-pin ui-tip"
			data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('PinClosed'))"
			data-tip-closed="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('PinClosed'))"
			data-tip-overlaid="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('PinOverlaid'))"
			data-tip-docked="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('PinDocked'))"
			>$core_v2_language.GetResource('Pin')</span>
	</div>
	<div class="dock-drag-handle ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Resize'))"></div>
	<div class="dock-view-tabs"></div>
	<div class="dock-views"></div>
</div>
