##
## Expects in scope: $embeddable
##
#if ($embeddable)
	<div class="content embeddable">
		<input type="checkbox" class="multiselect" data-id="$embeddable.Id" />
		<h4 class="name">$core_v2_encoding.HtmlEncode($embeddable.ProcessedName)</h4>

		<div class="attributes">
			<ul class="attribute-list">
				#if ($embeddable.IsStaged)
					<li class="attribute-item staged">
						<span class="attribute-value">
							#if ($embeddable.IsDeleted)
								<span class="pill negative ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('DeletedDesc'))">$core_v2_language.GetResource('Staged') $core_v2_language.GetResource('Deleted')</span>
							#elseif ($embeddable.IsReverted)
								<span class="pill negative ui-tip" data-tip="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('RevertedDesc'))">$core_v2_language.GetResource('Staged') $core_v2_language.GetResource('Reverted')</span>
							#else
								<span class="pill negative">$core_v2_language.GetResource('Staged')</span>
							#end
						</span>
					</li>
				#end

				<li class="attribute-item state">
					<span class="attribute-value">
						<span class="pill">
							#if ($embeddable.State == 'FactoryDefault')
								$core_v2_language.GetResource('FactoryDefault')
							#elseif ($embeddable.State == 'Custom')
								$core_v2_language.GetResource('Custom')
							#elseif ($embeddable.State == 'CustomizedDefault')
								$core_v2_language.GetResource('CustomizedDefault')
							#end
						</span>
					</span>
				</li>

				#if ($embeddable.IsTranslated)
					<li class="attribute-item translated">
						<span class="attribute-value">
							<span class="pill">$core_v2_language.GetResource('Translated')</span>
						</span>
					</li>
				#end

				<li class="attribute-item provider">
					<span class="attribute-value">
						$!embeddable.FactoryDefaultProviderName
					</span>
				</li>

			</ul>
		</div>

		#if ($!embeddable.ProcessedDescription)
			<div class="content description expandable">
				$core_v2_encoding.HtmlEncode($core_v2_language.Truncate($!embeddable.ProcessedDescription, 500, "…"))
			</div>
		#end

		<div class="actions expandable">
			#set ($maxLinks = 3)
			#if ($embeddable.IsStaged)
				#set ($maxLinks = 5)
			#end
			<div class="navigation-list ui-links" data-direction="horizontal" data-maxlinks="$maxLinks">
				<ul>
					#if ($embeddable.IsStaged)
						<li class="navigation-list-item">
							<a href="#" data-messagename="embeddable-publish" data-id="$embeddable.Id">$core_v2_language.GetResource('PublishStagedChanges')</a>
						</li>
						<li class="navigation-list-item">
							<a href="#" data-messagename="embeddable-revert" data-id="$embeddable.Id">$core_v2_language.GetResource('RevertStagedChanges')</a>
						</li>
					#end

					<li class="navigation-list-item">
						<a href="#" data-messagename="embeddable-edit"  data-id="$embeddable.Id">$core_v2_language.GetResource('Availability')</a>
					</li>

					<li class="navigation-list-item">
						<a href="#" data-messagename="embeddable-export" data-id="$embeddable.Id">$core_v2_language.GetResource('Export')</a>
					</li>

					<li class="navigation-list-item">
						<a href="#" data-messagename="embeddable-exportresources" data-id="$embeddable.Id">$core_v2_language.GetResource('ExportResources')</a>
					</li>

					#set ($editUrl = false)
					#set ($editUrl = $context.EditUrl("%{ Id = $embeddable.Id }"))
					#if ($editUrl)
						<li class="navigation-list-item">
							<a href="$core_v2_encoding.HtmlAttributeEncode($editUrl)">$core_v2_language.GetResource('EditEmbeddable')</a>
						</li>
					#end

					#if ($embeddable.State == 'Custom' || ($embeddable.State == 'FactoryDefault' && $embeddable.IsEditable && $context.DeveloperModeEnabled))
						<li class="navigation-list-item">
							<a href="#" data-messagename="embeddable-delete" data-id="$embeddable.Id">$core_v2_language.GetResource('Delete')</a>
						</li>
					#elseif ($embeddable.State == 'CustomizedDefault')
						<li class="navigation-list-item">
							<a href="#" data-messagename="embeddable-delete" data-id="$embeddable.Id">$core_v2_language.GetResource('RevertToDefault')</a>
						</li>
					#end

					<li class="navigation-list-item">
						<a href="#" class="more" data-more>$core_v2_language.GetResource('more')</a>
					</li>

					<li class="navigation-list-item">
						<a href="#" data-cancel>$core_v2_language.GetResource('cancel')</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
#end
