#if ($context.UserId < 0)
    $core_v2_widget.Hide()
#end

#set($user = false)
#set($user = $core_v2_user.Get("%{Id=$context.UserId}"))
#if (!$user || $user.HasErrors())
    $core_v2_widget.Hide()
#end

#set ($headerTemplateId = $core_v2_widget.UniqueId('changePasswordheaderTemplateId'))
<script type="text/html" id="$core_v2_encoding.HtmlAttributeEncode($headerTemplateId)">
	<fieldset>
	    <ul class="field-list">
	        <li class="field-item">
                <span class="field-item-input">
	                <a href="#" class="button changepassword">$core_v2_language.GetResource('ChangePassword')</a>
	                <div style="float: left; width: 50%">
                        <div class="navigation-list navigation ui-links" data-direction="horizontal">
                            <ul>
                    			<li class="navigation-list-item">
                    				<a href="#" data-messagename="administeruser.sendpasswordresetemail" data-userid="$context.UserId">$core_v2_language.GetResource('Options_SendPasswordResetEmail')</a>
                    			</li>
                    			<li class="navigation-list-item">
                    				<a href="#" data-more>$core_v2_language.GetResource('more')</a>
                    			</li>
                    			<li class="navigation-list-item">
                    				<a href="#" data-cancel>$core_v2_language.GetResource('cancel')</a>
                    			</li>
                    		</ul>
                        </div>
                    </div>
                </span>
	        </li>
        </ul>
    </fieldset>
</script>

<p>$core_v2_language.FormatString($core_v2_language.GetResource('ChangePasswordInstructions'), " href='#'  data-messagename='administeruser.sendpasswordresetemail' data-userid='$context.UserId'")</p>

#set($userTitle = $core_v2_language.GetResource('Unknown_User'))
#if ($user)
    #set($userTitle = $user.DisplayName)
    #if ($user.Username != $user.DisplayName)
        #set($userTitle = "$userTitle ($user.Username)")
    #end
#end

<form><fieldset>
    <ul class="field-list">
		<li class="field-item">
			<label for="$core_v2_widget.UniqueId('NewPassword1')" class="field-item-name">$core_v2_language.GetResource("Field_NewPassword1")</label>
			<span class="field-item-description">$core_v2_language.GetResource('Field_NewPassword1_Desc')</span>
			<span class="field-item-input">
				<input type="password" name="$core_v2_widget.UniqueId('NewPassword1')" value="" id="$core_v2_widget.UniqueId('NewPassword1')" />
			</span>
		</li>
        <li class="field-item">
			<label for="$core_v2_widget.UniqueId('NewPassword2')" class="field-item-name">$core_v2_language.GetResource("Field_NewPassword2")</label>
			<span class="field-item-description">$core_v2_language.GetResource('Field_NewPassword2_Desc')</span>
			<span class="field-item-input">
				<input type="password" name="$core_v2_widget.UniqueId('NewPassword2')" value="" id="$core_v2_widget.UniqueId('NewPassword2')" />
			</span>
			<span class="field-item-validation" style="display: none;">$core_v2_language.GetResource('Validation_PasswordsDontMatch')</span>
		</li>
    </ul>
</fieldset></form>

#registerEndOfPageHtml('telligent.evolution.widgets.userAdministrationChangePassword')
	<script type="text/javascript" src="$core_v2_encoding.HtmlAttributeEncode($core_v2_widget.GetFileUrl('changepassword.js'))"></script>
#end
#registerEndOfPageHtml()
	<script type="text/javascript">
    jQuery.telligent.evolution.administration.on('panel.loaded', function(){
		jQuery.telligent.evolution.widgets.userAdministrationChangePassword.register({
		    userId: $context.UserId,
		    headerTemplateId: '$core_v2_encoding.JavascriptEncode($headerTemplateId)',
		    fields: {
		        newPassword1: jQuery('#$core_v2_widget.UniqueId('NewPassword1')'),
		        newPassword2: jQuery('#$core_v2_widget.UniqueId('NewPassword2')')
		    },
		    urls: {
		        sendPasswordResetEmail: '$core_v2_encoding.JavascriptEncode($core_v2_widget.GetExecutedFileUrl('callback-sendforgottenpasswordemail.vm'))'  
		    },
		    text: {
		        changePasswordSuccessful: '$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('ChangePasswordSuccessful'), $userTitle))',
		        sendPasswordResetEmailConfirmation: '$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('SendPasswordResetEmailConfirmation'), $userTitle))',
		        sendPasswordResetEmailSuccessful: '$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('SendPasswordResetEmailSuccessful'), $userTitle))'
		    }
    	});
	});
	</script>
#end