<div class="filter-selector groups">
    <form><fieldset>
        <input type="text" placeholder="$core_v2_language.GetResource('FindAGroup')" style="width: 25%;" />
        <select class="membershiptype">
            <option value="memberships">$core_v2_language.GetResource('memberships')</option>
            <option value="pending">$core_v2_language.GetResource('memberships-pending')</option>
        </select>

        <select class="membertype">
            <option value="15">$core_v2_language.GetResource('membershiptype-all')</option>
            <option value="1">$core_v2_language.GetResource('membershiptype-owner')</option>
            <option value="2">$core_v2_language.GetResource('membershiptype-manager')</option>
            <option value="4">$core_v2_language.GetResource('membershiptype-member')</option>
        </select>
    </fieldset></form>
</div>

<ul class="content-list content expandable simple groups"></ul>
<div id="$core_v2_widget.UniqueId('nogroupresults')" class="message information" style="display:none;">
    $core_v2_language.GetResource('NoMatchingGroups')
</div>