#set($options = "%{}")

#set ($sortBy = $core_v2_page.GetFormValue('sortBy'))
#if($sortBy)
    $options.Add('SortBy', $sortBy)
#end

#set ($sortOrder = $core_v2_page.GetFormValue('sortOrder'))
#if($sortOrder)
    $options.Add('SortOrder', $sortOrder)
#end

#set ($includeUsers = $core_v2_page.GetFormValue('fr_includeUsers'))
#if($includeUsers)
    $options.Add('includeUsers', $includeUsers)
#end

#set ($includeRoles = $core_v2_page.GetFormValue('fr_includeRoles'))
#if($includeRoles)
    $options.Add('includeRoles', $includeRoles)
#end

#set ($includeAnonymous = $core_v2_page.GetFormValue('fr_includeAnonymous'))
#if($includeAnonymous)
    $options.Add('includeAnonymous', $includeAnonymous)
#end

#set ($selectedUsers = $core_v2_page.GetFormValue('fr_selectedUsers'))
#if($selectedUsers)
    $options.Add('selectedUsers', $selectedUsers)
#end

#set ($selectedRoles = $core_v2_page.GetFormValue('fr_selectedRoles'))
#if($selectedRoles)
    $options.Add('selectedRoles', $selectedRoles)
#end

#set ($includeGroups = $core_v2_page.GetFormValue('fr_includeGroups'))
#if($includeGroups)
    $options.Add('includeGroups', $includeGroups)
#end

#set ($includeSubGroups = $core_v2_page.GetFormValue('fr_includeSubGroups'))
#if($includeSubGroups)
    $options.Add('includeSubGroups', $includeSubGroups)
#end

#set ($selectedGroups = $core_v2_page.GetFormValue('fr_selectedGroups'))
#if($selectedGroups)
    $options.Add('selectedGroups', $selectedGroups)
#end

#set ($includeApplications = $core_v2_page.GetFormValue('fr_includeApplications'))
#if($includeApplications)
    $options.Add('includeApplications', $includeApplications)
#end

#set ($selectedApplications = $core_v2_page.GetFormValue('fr_selectedApplications'))
#if($selectedApplications)
    $options.Add('selectedApplications', $selectedApplications)
#end

#set ($includeApplicationTypes = $core_v2_page.GetFormValue('fr_includeApplicationTypes'))
#if($includeApplicationTypes)
    $options.Add('includeApplicationTypes', $includeApplicationTypes)
#end

#set ($selectedApplicationTypes = $core_v2_page.GetFormValue('fr_selectedApplicationTypes'))
#if($selectedApplicationTypes)
    $options.Add('selectedApplicationTypes', $selectedApplicationTypes)
#end

#set ($selectedSearchFlags = $core_v2_page.GetFormValue('fr_selectedSearchFlags'))
#if($selectedSearchFlags)
    $options.Add('selectedSearchFlags', $selectedSearchFlags)
#end