<h4 class="title">$core_v2_language.GetResource('Attributions')</h4>

<ul class="content-list">
    <li class="content-item attribution emojione">
        $core_v2_language.GetResource('TwemojiAttribution') <a href="https://twemoji.twitter.com/">Twemoji</a>
    </li>
</ul>