$core_v2_page.SetContentType('application/json')

#set($user = false)
#set($user = $core_v2_user.Accessing)

#if($user)
	#set($response = $core_v2_authentication.SendChangePasswordEmail($user.Id))
	#if (!$response.HasErrors())
		{"message":"<b>$core_v2_encoding.JavaScriptEncode($core_v2_language.GetResource('ForgottenPassword_PasswordLinkSentTitle'))</b><div>$core_v2_encoding.JavascriptEncode($core_v2_language.FormatString($core_v2_language.GetResource('ForgottenPassword_PasswordLinkSentMessage'), $user.PrivateEmail))</div>"}
	#else
		$core_v2_page.SendJsonError($response.Errors)
	#end
#else
	$core_v2_page.SendJsonError('The requested user could not be retrieved.')
#end