<div class="global-search">
	<form><fieldset>
		<ul class="field-list">
			<li class="field-item">
				<span class="field-item-input">
					<input type="search" class="panel-search" placeholder="$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Filter'))">
				</span>
			</li>
		</ul>
	</fieldset></form>
	<div class="results"></div>
</div>
