#format($core_v2_language.GetResource('ShortcutTip'))
	#token('shortcut')
		<span style="border: solid 1px; border-radius: 3px; padding: 0 4px; margin: 0 2px;">
			<% if(os.ios || os.mac) { %>
				$core_v2_language.GetResource('ModifierOption')<% } else { %>
				$core_v2_language.GetResource('ModifierAlt')<% } %></span>
		<span style="border: solid 1px; border-radius: 3px; padding: 0 4px; margin: 0 2px;">K</span>
#end