
#set ($tipTemplateId = $core_v2_widget.UniqueId('tipTemplate'))
#registerClientTemplate($tipTemplateId)
	$core_v2_widget.ExecuteFile('template-tip.vm')
#end

#set ($customPanelTemplateId = $core_v2_widget.UniqueId('customPanelTemplate'))
#registerClientTemplate($customPanelTemplateId)
	$core_v2_widget.ExecuteFile('template-custom-panel.vm')
#end

#set ($pluginHeaderTemplateId = $core_v2_widget.UniqueId('pluginHeaderTemplate'))
#registerClientTemplate($pluginHeaderTemplateId)
	$core_v2_widget.ExecuteFile('template-plugin-header.vm')
#end

#set ($pluginTypesPanelSearchResultTemplateId = $core_v2_widget.UniqueId('pluginTypesPanelSearchResultTemplate'))
#registerClientTemplate($pluginTypesPanelSearchResultTemplateId)
	$core_v2_widget.ExecuteFile('template-plugin-types-search-result.vm')
#end

#set ($childPluginSearchResultTemplateId = $core_v2_widget.UniqueId('childPluginSearchResultTemplate'))
#registerClientTemplate($childPluginSearchResultTemplateId)
	$core_v2_widget.ExecuteFile('template-child-plugin-search-result.vm')
#end

#set ($globalSearchTemplateId = $core_v2_widget.UniqueId('globalSearchTemplate'))
#registerClientTemplate($globalSearchTemplateId)
	$core_v2_widget.ExecuteFile('template-global-search.vm')
#end

#set ($globalSearchResultTemplateId = $core_v2_widget.UniqueId('globalSearchResultTemplate'))
#registerClientTemplate($globalSearchResultTemplateId)
	$core_v2_widget.ExecuteFile('template-global-search-result.vm')
#end

#set ($shorcutsTemplateId = $core_v2_widget.UniqueId('shorcutsTemplate'))
#registerClientTemplate($shorcutsTemplateId)
	$core_v2_widget.ExecuteFile('template-shortcuts.vm')
#end

#set ($shortcutsNotificationTemplateId = $core_v2_widget.UniqueId('shortcutsNotificationTemplate'))
#registerClientTemplate($shortcutsNotificationTemplateId)
	$core_v2_widget.ExecuteFile('template-shortcuts-notification.vm')
#end

#set ($logoutWarningTemplateId = $core_v2_widget.UniqueId('logoutWarningTemplate'))
#registerClientTemplate($logoutWarningTemplateId)
	$core_v2_widget.ExecuteFile('template-logout-warning.vm')
#end

#set ($logoutWarningAbsoluteTemplateId = $core_v2_widget.UniqueId('logoutWarningAbsoluteTemplate'))
#registerClientTemplate($logoutWarningAbsoluteTemplateId)
	$core_v2_widget.ExecuteFile('template-logout-absolute-warning.vm')
#end
