#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($webhookId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('w_id')))
	#set($enabled = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('w_enable')))

	#set($response = $core_v2_webhook.Update($webhookId, "%{IsEnabled = $enabled}"))

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}

#end
