#if ($core_v2_page.IsPost)
    $core_v2_page.SetContentType('application/json')

    #set ($Id = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('Id')))

	#set($options = "%{}")
	$options.Add('RegenerateSecret', true)
	
	#if($Id > 0)
	  	#set($webHookResponse = $core_v2_webhook.Update($Id, $options))
    #end
    
	#if($webHookResponse.HasErrors())
		$core_v2_page.SendJsonError($webHookResponse.Errors)
	#end    

	{"success": true, "secretToken": "$webHookResponse.SecretToken"}
#end