#set ($total = $context.GetAggregate())

<div href="#" class="report-drilldown" data-report-id="$reporting_reports.NewMembers">
    <div class="value">$total.Aggregate.ToString("N0")</div>
    <div class="description">$core_v2_language.GetResource('TotalMembers')</div>
</div>