##
## Tab Item Template
##
<% if(request.type === 'file') { %>
	<span class="primary ui-tip" data-tip="<%: ('$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Custom'))') %> / <%: model.EmailProcessedName %>">
		<% if(model.IsStaged) { %>
			<%= template('studioShell-stagedIndicator') %>
		<% } %>
		<%: model.EmailProcessedName %>
	</span>
	<span class="secondary <%: request.type %> attachment ui-tip" data-tip="<%: model.Name %>">
		<%: model.Name %>
	</span>
<% } else { %>
	<span class="primary ui-tip" data-tip="<%: ('$core_v2_encoding.HtmlAttributeEncode($core_v2_language.GetResource('Custom'))') %> / <%: model.ProcessedName %>">
		<% if(model.IsStaged) { %>
			<%= template('studioShell-stagedIndicator') %>
		<% } %>
		<%: model.ProcessedName %>
	</span>
	<span class="secondary <%: request.type %>">
	<% if(request.type == 'overview') { %>
		$core_v2_language.GetResource('Overview')
	<% } else if(request.type == 'configuration') { %>
		$core_v2_language.GetResource('Configuration')
	<% } else if(request.type == 'subjectscript') { %>
		$core_v2_language.GetResource('Subject')
	<% } else if(request.type == 'headerscript') { %>
		$core_v2_language.GetResource('Header')
	<% } else if(request.type == 'footerscript') { %>
		$core_v2_language.GetResource('Footer')
	<% } else if(request.type == 'bodyscript') { %>
		$core_v2_language.GetResource('Body')
	<% } else if(request.type == 'templatescript') { %>
		$core_v2_language.GetResource('Template')
	<% } else if(request.type == 'resources') { %>
		$core_v2_language.GetResource('Resources')
	<% } %>
	</span>
<% } %>
