## State Filter
<div $core_v2_servicePresence.RenderAttributes($context.ServicePresenceId, "%{}")>
	<fieldset>
		<ul class="field-list">
			<li class="field-item">
				<span class="field-item-input">
					<select class="state-select">
						<option value="all">$core_v2_language.GetResource('InAnyState')</option>
						<option value="FactoryDefault">$core_v2_language.GetResource('DefaultEmails')</option>
						<option value="CustomizedDefault">$core_v2_language.GetResource('EditedDefault')</option>
					</select>
				</span>
			</li>
		</ul>
	</fieldset>
</div>