$shell.RenderShellTemplates()

#set ($browseHeaderTemplate = $core_v2_widget.UniqueId('browseHeaderTemplate'))
#registerClientTemplate($browseHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-browse-header.vm')
#end

#set ($browseViewItemTemplate = $core_v2_widget.UniqueId('browseViewItemTemplate'))
#registerClientTemplate($browseViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-browse-view-item.vm')
#end

#set ($importSelectorTemplate = $core_v2_widget.UniqueId('importSelectorTemplate'))
#registerClientTemplate($importSelectorTemplate)
	$core_v2_widget.ExecuteFile('template-import-selector.vm')
#end

#set ($tabViewItemTemplate = $core_v2_widget.UniqueId('tabViewItemTemplate'))
#registerClientTemplate($tabViewItemTemplate)
	$core_v2_widget.ExecuteFile('template-tab-view-item.vm')
#end

#set ($emailScriptHeaderTemplate = $core_v2_widget.UniqueId('emailScriptHeaderTemplate'))
#registerClientTemplate($emailScriptHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-email-editor-header-script.vm')
#end

#set ($emailEditableFileHeaderTemplate = $core_v2_widget.UniqueId('emailEditableFileHeaderTemplate'))
#registerClientTemplate($emailEditableFileHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-email-editor-header-editable-file.vm')
#end

#set ($emailNonEditableFileViewExampleTemplate = $core_v2_widget.UniqueId('emailNonEditableFileViewExampleTemplate'))
#registerClientTemplate($emailNonEditableFileViewExampleTemplate)
	$core_v2_widget.ExecuteFile('template-email-non-editable-file-example.vm')
#end

#set ($emailNonEditableFileViewHeaderTemplate = $core_v2_widget.UniqueId('emailNonEditableFileViewHeaderTemplate'))
#registerClientTemplate($emailNonEditableFileViewHeaderTemplate)
	$core_v2_widget.ExecuteFile('template-email-editor-header-fileviewer.vm')
#end

#set ($emailActionsTemplate = $core_v2_widget.UniqueId('emailActionsTemplate'))
#registerClientTemplate($emailActionsTemplate)
	$core_v2_widget.ExecuteFile('template-email-actions.vm')
#end

#set ($emailEditorStateTemplate = $core_v2_widget.UniqueId('emailEditorStateTemplate'))
#registerClientTemplate($emailEditorStateTemplate)
	$core_v2_widget.ExecuteFile('template-email-editor-state.vm')
#end

#set ($emailEditorComponentsTemplate = $core_v2_widget.UniqueId('emailEditorComponentsTemplate'))
#registerClientTemplate($emailEditorComponentsTemplate)
	$core_v2_widget.ExecuteFile('template-email-components.vm')
#end

#set ($panelWrapperTemplate = $core_v2_widget.UniqueId('panelWrapperTemplate'))
#registerClientTemplate($panelWrapperTemplate)
	$core_v2_widget.ExecuteFile('template-panel-wrapper.vm')
#end

#set ($stagingItemTemplate = 'studioShell-stagingItem')
#registerClientTemplate($stagingItemTemplate)
	$core_v2_widget.ExecuteFile('template-staging-item.vm')
#end

#set ($emailOverviewViewTemplate = $core_v2_widget.UniqueId('emailOverviewViewTemplate'))
#registerClientTemplate($emailOverviewViewTemplate)
	$core_v2_widget.ExecuteFile('template-email-overview.vm')
#end

#set ($emailOverviewComponentsViewTemplate = $core_v2_widget.UniqueId('emailOverviewComponentsViewTemplate'))
#registerClientTemplate($emailOverviewComponentsViewTemplate)
	$core_v2_widget.ExecuteFile('template-email-overview-components.vm')
#end

#set ($emailOverviewFilesViewTemplate = $core_v2_widget.UniqueId('emailOverviewFilesViewTemplate'))
#registerClientTemplate($emailOverviewFilesViewTemplate)
	$core_v2_widget.ExecuteFile('template-email-overview-files.vm')
#end

#set ($emailOverviewDetailsViewTemplate = $core_v2_widget.UniqueId('emailOverviewDetailsViewTemplate'))
#registerClientTemplate($emailOverviewDetailsViewTemplate)
	$core_v2_widget.ExecuteFile('template-email-overview-details.vm')
#end

#set ($globalSearchTemplate = $core_v2_widget.UniqueId('globalSearchTemplate'))
#registerClientTemplate($globalSearchTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search.vm')
#end

#set ($globalSearchResultTemplate = $core_v2_widget.UniqueId('globalSearchResultTemplate'))
#registerClientTemplate($globalSearchResultTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result.vm')
#end

#set ($globalSearchResultOverviewTemplate = $core_v2_widget.UniqueId('globalSearchResultOverviewTemplate'))
#registerClientTemplate($globalSearchResultOverviewTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-overview.vm')
#end

#set ($globalSearchResultLoadingTemplate = $core_v2_widget.UniqueId('globalSearchResultLoadingTemplate'))
#registerClientTemplate($globalSearchResultLoadingTemplate)
	$core_v2_widget.ExecuteFile('template-dock-view-global-search-result-loading.vm')
#end

#set ($selectLanguageTemplate = $core_v2_widget.UniqueId('selectLanguageTemplate'))
#registerClientTemplate($selectLanguageTemplate)
	$core_v2_widget.ExecuteFile('template-select-language.vm')
#end