<em>$core_v2_language.GetResource('AttachmentExampleUrl')</em>
<pre>&#36;core_v2_widget.GetFileUrl("<%: Name %>")</pre>
<em>$core_v2_language.GetResource('AttachmentImageExample')</em>
<pre>&#36;core_v2_ui.GetResizedImageHtml("&#36;core_v2_widget.GetFileUrl('<%: Name %>')", 500, 400, "%{ ResizeMethod = 'ZoomAndCrop'}")</pre>
