##
## Expects in scope: $automations, $configuredAutomations
##
<div class="panelheader-list">
	<fieldset class="fieldset-list">
		#if ($automations && $automations.Count > 0)
			<ul class="field-list">
				<li class="field-item submit">
					<span class="field-item-input">
						<a href="#" class="button internal-link save" data-messagename="configuredautomation-create">$core_v2_language.GetResource('Add')</a>
					</span>
				</li>
			</ul>
		#end
		#set ($maxLinks = 1)
		#if ($configuredAutomations && $configuredAutomations.Count > 0)
			#set ($maxLinks = 2)
		#end
		<div class="navigation-list ui-links" data-direction="horizontal" data-maxlinks="$maxLinks">
			<ul>
				<li class="navigation-list-item">
					<a href="#" data-messagename="configuredautomation-upload">$core_v2_language.GetResource('Import')</a>
				</li>
				#if ($configuredAutomations && $configuredAutomations.Count > 0)
					<li class="navigation-list-item">
						<a href="#" data-messagename="configuredautomation-multiselect">$core_v2_language.GetResource('SelectMultiple')</a>
					</li>
					<li class="navigation-list-item">
						<a href="#" data-messagename="configuredautomation-exportall">$core_v2_language.GetResource('ExportAll')</a>
					</li>
					<li class="navigation-list-item">
						<a href="#" data-messagename="configuredautomation-exportallresources">$core_v2_language.GetResource('ExportAllResources')</a>
					</li>
				#end
				<li class="navigation-list-item">
					<a href="$core_v2_encoding.HtmlAttributeEncode($context.PanelUrl())">$core_v2_language.GetResource('Studio')</a>
				</li>
				<li class="navigation-list-item">
					<a href="#" class="more" data-more>$core_v2_language.GetResource('more')</a>
				</li>
				<li class="navigation-list-item">
					<a href="#" data-cancel>$core_v2_language.GetResource('cancel')</a>
				</li>
			</ul>
		</div>
	</fieldset>
</div>