$core_v2_page.SetContentType('application/json')

#set($eventId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('EventId')))
#set($event = false)
#set($event = $calendar_v1_events.Show($eventId))
#if(!$event)
    $core_v2_page.SendJsonError('The specified event not be retrieved')
#end

#set($token = $core_v2_utility.ParseGuid($core_v2_page.GetFormValue('Token')))

#set($registration = $calendar_v1_registrations.Cancel($token))

#if(!$registration)
    $core_v2_page.SendJsonError('The registration has not been found')
#else

	#if($registration.Errors.Count > 0)
		$core_v2_page.SendJsonError($registration.Errors)
	#end

	#set ($querystring = 'cancelled=true')
	#set ($url = $calendar_v1_urls.Event($eventId))

	{"redirectUrl":"$core_v2_encoding.JavascriptEncode($core_v2_page.AdjustQueryString($url, $querystring))"}

#end