#set($leaderboardIdString = $core_v2_page.GetQueryStringValue('w_leaderboardid'))
#set($leaderboardId = $core_v2_utility.ParseInt($leaderboardIdString))
$context.HandleDownloadCsvRequest($leaderboardId)