#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set ($options = "%{}")

	#set ($FeedId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('FeedId')))

	$context.DeleteFeed($FeedId)

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}

#end
