#if ($core_v2_page.IsPost)
	$core_v2_page.SetContentType('application/json')

	#set($options = "%{}")

	#set($EnabledEmbedding = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('EnabledEmbedding')))
	#set($EnabledEmbeddingAllDomains = $core_v2_utility.ParseBool($core_v2_page.GetFormValue('EnabledEmbeddingAllDomains')))
	#set($AllowedDomains = $core_v2_page.GetFormValue('AllowedDomains'))
	#set($NewThreadsUserId = $core_v2_utility.ParseInt($core_v2_page.GetFormValue('NewThreadsUserId')))

	$options.Add('EnabledEmbedding', $EnabledEmbedding)
	$options.Add('EnabledEmbeddingAllDomains',$EnabledEmbeddingAllDomains)
	$options.Add('AllowedDomains',$AllowedDomains)
	$options.Add('NewThreadsUserId',$NewThreadsUserId)

	#set($response = $context.Update($options))

	#if($response.HasErrors())
		$core_v2_page.SendJsonError($response.Errors)
	#end

	{"success":true}

#end
